img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/4;
}

.product-name {
    font-size: clamp(15px, 0.8vw, 80px);
}

.price {
    font-size: clamp(15px, 0.8vw, 80px);
}

.wrap-image:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    .btn {
      display: inline;
    }
  }