.wrap-image {
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/5;
  }

  .btn {
    font-size: 12px;
    font-weight: bold;
    display: none;
    margin-top: -80px;
    font-size: clamp(21px, 1.2vw, 80px);
  }
}

.wrap-image:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  .btn {
    display: inline;
  }
}

.detail {
  .product-name {
    font-size: clamp(21px, 1.2vw, 80px);
  }
}

.view-sale {
  background: url('../../../assets/img/background/banner-huge-sale.webp') center center no-repeat;
}
