<section class="breadcrumb mt-lg-5">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb fs-14">
                <li class="breadcrumb-item">
                    <a href="/home">
                        <i class="bx bx-home me-1"></i> Beranda
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/katalog">Produk</a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section class="content pb-3 pb-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-4 col-xl-3 d-none d-lg-block mb-5">
                <div class="d-flex align-items-center justify-content-center bg-grey py-2 border border-bottom-0 rounded-top-4 fw-semibold">
                    <i class='bx bx-sort-up me-1 fs-5'></i>
                    <span class="font-p">FILTER</span>
                </div>
                <div class="filer border font-p rounded-bottom-4" style="font-size: 14px;">
                    <!-- Price -->
                    <div class="price py-2 px-2">
                        <div class="d-flex justify-content-between align-items-center" (click)="prices.toggle()" [attr.aria-expanded]="!isCollapsed.prices" aria-controls="collapsePrices">
                            <span class="btn fw-bold rounded-0 d-flex justify-content-between fs-14">CARI BERDASARKAN HARGA</span>
                            <i class="bx fw-bold" [ngClass]="isCollapsed.prices ? 'bx-minus': 'bx-plus'"></i>
                        </div>
                        <div class="px-3 my-2" #prices="ngbCollapse" [(ngbCollapse)]="isCollapsed.prices">
                            <div class="range-price">
                                <div class="mb-3">
                                    <label for="minimum" class="form-label fs-12">Minimal</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start-4 fs-12" id="minimum">Rp</span>
                                        <input type="number" class="form-control form-control-sm rounded-end-4 fs-12" id="minimum">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="maximum" class="form-label fs-12">Maksimal</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start-4 fs-12" id="maximum">Rp</span>
                                        <input type="number" class="form-control form-control-sm rounded-end-4 fs-12" id="maximum">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Price -->


                    <!-- Promo -->
                    <div class="price py-2 px-2 border-top">
                        <div class="d-flex justify-content-between align-items-center" (click)="availability.toggle()" [attr.aria-expanded]="!isCollapsed.availability" aria-controls="collapseavailability">
                            <span class="btn fs-6 fw-bold rounded-0 d-flex justify-content-between fs-14">Promo</span>
                            <i class="bx fw-bold" [ngClass]="isCollapsed.availability ? 'bx-minus': 'bx-plus'"></i>
                        </div>
                        <div class="px-3 mt-2" #availability="ngbCollapse" [(ngbCollapse)]="isCollapsed.availability">
                            <div class="form-check mb-1">
                                <input class="form-check-input" type="checkbox" value="" id="promo" [checked]="filter.promo" (change)="filter.promo=true">
                                <label class="form-check-label text-grey" for="promo">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="promo" [checked]="!filter.promo" (change)="filter.promo=false">
                                <label class="form-check-label text-grey" for="promo">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- End Promo -->


                    <!-- Category -->
                    <div class="category py-2 px-2 border-top">
                        <div class="d-flex justify-content-between align-items-center" (click)="categories.toggle()" [attr.aria-expanded]="!isCollapsed.categories" aria-controls="collapseCategories">
                            <span class="btn fw-bold rounded-0 d-flex justify-content-between fs-14">CARI BERDASARKAN KATEGORI</span>
                            <i class="bx fw-bold" [ngClass]="isCollapsed.categories ? 'bx-minus': 'bx-plus'"></i>
                        </div>
                        <div class="ps-3 mt-2" #categories="ngbCollapse" [(ngbCollapse)]="isCollapsed.categories">
                            <ng-container *ngFor="let item of listCategory; index as i">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" [value]="item.slug" id="category-{{i}}" [checked]="item.selected" (change)="addFilterKategori($event)">
                                        <label class="form-check-label text-grey" for="category">
                                            {{ item.kategori }}
                                        </label>
                                    </div>
                                    <span role="button" (click)="childCategories.toggle()" [attr.aria-expanded]="!isCollapsedChild[item.slug]" aria-controls="collapseCategories" *ngIf="item.child.length > 0">
                                        <i class="bx fw-bold" [ngClass]="isCollapsedChild[item.slug] ? 'bx-minus': 'bx-plus'"></i>
                                    </span>
                                </div>
                                <div class="ps-3" #childCategories="ngbCollapse" [(ngbCollapse)]="isCollapsedChild[item.slug]">
                                    <div class="form-check mb-2" *ngFor="let child of item.child; index as iChild">
                                        <input class="form-check-input" type="checkbox" [value]="child.slug" id="category-{{iChild}}" [checked]="child.selected" (change)="addFilterKategori($event)">
                                        <label class="form-check-label text-grey" for="category">
                                            {{ child.kategori }}
                                        </label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Brand -->
                    <div class="category py-2 px-2 border-top">
                        <div class="d-flex justify-content-between align-items-center" (click)="brand.toggle()" [attr.aria-expanded]="!isCollapsed.brand" aria-controls="collapsebrand">
                            <span class="btn fw-bold rounded-0 d-flex justify-content-between fs-14">CARI BERDASARKAN MEREK</span>
                            <i class="bx fw-bold" [ngClass]="isCollapsed.brand ? 'bx-minus': 'bx-plus'"></i>
                        </div>
                        <div class="ps-3 mt-2" #brand="ngbCollapse" [(ngbCollapse)]="isCollapsed.brand">
                            <ng-container *ngFor="let item of listBrand; index as i">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" [value]="item.slug" id="brand-{{i}}" [checked]="item.selected" (change)="addFilterBrand($event)">
                                    <label class="form-check-label text-grey" for="brand">
                                        {{ item.brand }}
                                    </label>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-8 col-xl-9">
                <div class="row">
                    <ng-container *ngIf="listProduct.length > 0">
                        <div class="col-6 col-lg-4 col-xl-3 mb-2 px-2" *ngFor="let item of listProduct; index as i">
                            <a href="javascript:void(0)" class="text-dark" (click)="clickProduk(item)">
                                <div class="wrap-item rounded-3 overflow-hidden">
                                    <div class="square-image wrap-image">
                                        <img [src]="item.foto" class="object-fit-cover" width="280" height="280" alt="Random second slide" />
                                    </div>
                                    <div class="detail p-2">
                                        <p class="category text-uppercase font-p fs-12 mb-1"> {{ item.kategori }}</p>
                                        <h2 class="product-name mb-0 font-p fs-14">{{ item.nama }} </h2>
                                        <span class="text-decoration-line-through fs-12" style="color: rgb(175, 175, 175);" *ngIf="item.is_promo">Rp {{ item.harga | numberFormat }}</span>
                                        <span class="fs-12" [ngClass]="{'visibility-hidden': !item.is_promo}">
                                            <i class='bx bxs-bolt'></i>{{ item.promo.persen }}%
                                        </span>
                                        <p class="price fs-14 fw-semibold font-p mb-1">Rp {{ item.harga_promo | numberFormat }} </p>
                                        <div class="star fs-12 font-m">
                                            <i class="bx bxs-star text-warning"></i> {{ item.rating }} &VerticalLine; {{ item.total_terjual }} Terjual
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="listProduct.length == 0">
                        <div class="col text-center">
                            <img src="assets/img/undraw/empty.png" style="width: 400px;" class="object-fit-cover" width="400" alt="empty">
                            <p class="fs-3 fw-bold">Tidak ada produk</p>
                        </div>
                    </ng-container>
                    <div class="text-center pt-5">
                        <button *ngIf="!lastPage" class="btn btn-primary" (click)="loadMore()" [disabled]="loading.product" [hidden]="listProduct.length == 0">
                            <i class='bx bx-refresh me-1'></i>
                            {{ loading.product ? 'Loading' : 'Load More' }}
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="view-sale bg-body-tertiary py-lg-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-4 text-lg-end">
                <h2 class="fw-bold">PENAWARAN KAMERA <br> DEALS</h2>
            </div>
            <div class="col-12 col-lg-4 text-lg-center">
                <div class="btn btn-primary rounded-5 fw-bold px-5 py-3 mt-3">
                    LIHAT SEKARANG
                </div>
            </div>
        </div>
    </div>
</section>

<app-foot-menu class="d-block d-lg-none"></app-foot-menu>
<app-footer class="d-none d-lg-block"></app-footer>
