<section style="background-color: #FBFBFB;">
  <div class="d-flex justify-content-end">
    <div class="w-50 row align-items-center justify-content-end">
      <div class="col-10 mt-5" style="padding-left: 200px;">
        <form (ngSubmit)="register()">
          <h2 class="font-p fw-bold fs-2 mt-4 mb-5 font-p text-center">Pendaftaran Akun Jakarta Kamera</h2>
          <div class="text-success font-p mb-3" *ngIf="is.success" role="alert">
            Selamat, Pendaftaran Akun berhasil! <a href="javascript:void(0)" [routerLink]="['/login']" class="text-primary">Klik</a> untuk Masuk Akun
          </div>
          <div class="mb-3">
            <label for="name" class="mb-2 font-p fs-14">Nama Lengkap <span class="text-danger">*</span></label>
            <input type="text" class="form-control font-p fs-14 py-2" id="name" [(ngModel)]="model.name" name="name"
              required>
            <small class="text-danger font-p fs-12" *ngIf="error.name">{{ error.name }}</small>
          </div>
          <div class="mb-3">
            <label for="username" class="mb-2 font-p fs-14">Username <span class="text-danger">*</span></label>
            <input type="username" class="form-control font-p fs-14 py-2" id="username" [(ngModel)]="model.username"
              name="username" required>
          </div>
          <div class="mb-3">
            <label for="email" class="mb-2 font-p fs-14">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control font-p fs-14 py-2" id="email" [(ngModel)]="model.email" name="email"
              required>
            <small class="text-danger font-p fs-12" *ngIf="error.name">{{ error.email }}</small>
          </div>
          <div class="mb-3">
            <label for="phone_number" class="mb-2 font-p fs-14">No Hp <span class="text-danger">*</span></label>
            <div class="input-group">
              <span class="input-group-text font-p fs-14" id="phone_number"> +62 </span>
              <input type="tel" class="form-control font-p fs-14 py-2" id="phone_number"
                [(ngModel)]="model.phone_number" name="phone_number" required>
            </div>
            <small class="text-danger font-p fs-12" *ngIf="error.name">{{ error.phone_number }}</small>
          </div>
          <div class="mb-3">
            <label for="password" class="mb-2 font-p fs-14">Kata Sandi <span class="text-danger">*</span></label>
            <input type="password" class="form-control font-p fs-14 py-2" id="password" [(ngModel)]="model.password"
              name="password" required>
          </div>
          <button class="btn btn-primary font-p fs-14 fw-semibold w-100 py-3 mt-3 mb-5">Daftar</button>
        </form>
      </div>
    </div>
    <div class="background w-50">
    </div>
  </div>
</section>
<app-footer></app-footer>
