.background {
	background-image: url('../../../assets/img/background/background-auth.png');
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}
