<section class="news py-5">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-4" *ngFor="let item of listNews; index as i">
          <div class="list-article">
            <div class="list-article-gambar">
              <a class="list-article-label" href="#"><h4>{{item.category}}</h4></a>
              <img src="https://source.unsplash.com/random/140x140?camera={{i}}" alt="{{ item.title }}" />
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
