<!-- <section class="news py-5">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-4" *ngFor="let item of listNews; index as i">
          <div class="list-article">
            <div class="list-article-gambar">
              <a class="list-article-label" href="#"><h4>{{item.category}}</h4></a>
              <img src="https://source.unsplash.com/random/140x140?camera={{i}}" alt="{{ item.title }}" />
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="breadcrumb">
  <div class="container pt-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><span class="iconify mb-1 fs-5" data-icon="ic:outline-home"></span></a></li>
        <li class="breadcrumb-item"><a href="#">NEWS</a></li>
      </ol>
    </nav>
  </div>
</section>

<section>
  <div class="container pb-5">
    <div class="row">
      <div class="col-9">
        <div class="list-news mb-4">
          <img src="https://source.unsplash.com/random/1000x300?camera=1" class="img-thumbnail w-100" width="200" height="">
          <div class="row mt-3">
            <div class="col-1">
              <div class="border fs-4 font-p text-center py-1">
                06
              </div>
              <div class="bg-dark text-center py-1 fs-6 text-white font-p">
                DEC
              </div>
            </div>
            <div class="col-11">
              <h1 class="fw-semibold fs-4 font-p">Post Format - Video</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenea pretium convallis lorem, 
                sit amet dapibus ante mollis a. Integer bibendum interdum sem, eget volutpat purus pulvinar in. Sed tristique augue vitae sagittis 
                porta. Phasellus ullamcorper, dolor suscipit mattis viverra, sapien elit condimentum odio,...
              </p>
              <div class="py-4 mt-5 border-top border-bottom d-flex justify-content-between align-items-center text-grey px-2">
                <div class="">
                  <span class="iconify me-1 fs-5" data-icon="oui:token-date"></span> December 06, 2016
                  <span class="iconify ms-3 me-1 fs-5" data-icon="majesticons:user"></span> By Johny Deeps
                </div>
                <a href="" class="text-grey">
                  Read More
                  <span class="iconify fs-6 me-1" data-icon="ion:chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="list-news mb-4">
          <img src="https://source.unsplash.com/random/1000x300?camera=2" class="img-thumbnail w-100" width="200" height="">
          <div class="row mt-3">
            <div class="col-1">
              <div class="border fs-4 font-p text-center py-1">
                06
              </div>
              <div class="bg-dark text-center py-1 fs-6 text-white font-p">
                DEC
              </div>
            </div>
            <div class="col-11">
              <h1 class="fw-semibold fs-4 font-p">Post Format - Photo</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenea pretium convallis lorem, 
                sit amet dapibus ante mollis a. Integer bibendum interdum sem, eget volutpat purus pulvinar in. Sed tristique augue vitae sagittis 
                porta. Phasellus ullamcorper, dolor suscipit mattis viverra, sapien elit condimentum odio,...
              </p>
              <div class="py-4 mt-5 border-top border-bottom d-flex justify-content-between align-items-center text-grey px-2">
                <div class="">
                  <span class="iconify me-1 fs-5" data-icon="oui:token-date"></span> December 06, 2016
                  <span class="iconify ms-3 me-1 fs-5" data-icon="majesticons:user"></span> By Johny Deeps
                </div>
                <a href="" class="text-grey">
                  Read More
                  <span class="iconify fs-6 me-1" data-icon="ion:chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="list-news mb-4">
          <img src="https://source.unsplash.com/random/1000x300?flower=2" class="img-thumbnail w-100" width="200" height="">
          <div class="row mt-3">
            <div class="col-1">
              <div class="border fs-4 font-p text-center py-1">
                06
              </div>
              <div class="bg-dark text-center py-1 fs-6 text-white font-p">
                DEC
              </div>
            </div>
            <div class="col-11">
              <h1 class="fw-semibold fs-4 font-p">Post Format - Photo</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenea pretium convallis lorem, 
                sit amet dapibus ante mollis a. Integer bibendum interdum sem, eget volutpat purus pulvinar in. Sed tristique augue vitae sagittis 
                porta. Phasellus ullamcorper, dolor suscipit mattis viverra, sapien elit condimentum odio,...
              </p>
              <div class="py-4 mt-5 border-top border-bottom d-flex justify-content-between align-items-center text-grey px-2">
                <div class="">
                  <span class="iconify me-1 fs-5" data-icon="oui:token-date"></span> December 06, 2016
                  <span class="iconify ms-3 me-1 fs-5" data-icon="majesticons:user"></span> By Johny Deeps
                </div>
                <a href="" class="text-grey">
                  Read More
                  <span class="iconify fs-6 me-1" data-icon="ion:chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="right-content border p-3">
          <h1 class="font-p fs-6 fw-semibold mb-4">RECENT POST</h1>
          <div class="list-recent d-flex mb-3">
            <img src="https://source.unsplash.com/random/60x60?flower=1" class="rounded me-3" alt="" width="60" height="60">
            <div>
              <div class="title"> Post Format - Video</div>
              <small class="date text-grey">December 06, 2016</small>
            </div>
          </div>
          <div class="list-recent d-flex mb-3">
            <img src="https://source.unsplash.com/random/60x60?human=1" class="rounded me-3" alt="" width="60" height="60">
            <div>
              <div class="title"> Post Format - Video</div>
              <small class="date text-grey">December 06, 2016</small>
            </div>
          </div>
          <div class="list-recent d-flex mb-3">
            <img src="https://source.unsplash.com/random/60x60?laptop=1" class="rounded me-3" alt="" width="60" height="60">
            <div>
              <div class="title"> Post Format - Video</div>
              <small class="date text-grey">December 06, 2016</small>
            </div>
          </div>
          <h1 class="font-p fs-6 fw-semibold mt-5 mb-4">TAG CLOUD</h1>
          <button class="btn btn-secondary rounded-1 fs-6 me-2 mb-2">Blog</button>
          <button class="btn btn-secondary rounded-1 fs-6 me-2 mb-2">Clothing</button>
          <button class="btn btn-secondary rounded-1 fs-6 me-2 mb-2">Dresses</button>
          <button class="btn btn-secondary rounded-1 fs-6 me-2 mb-2">Fashion</button>
          <button class="btn btn-secondary rounded-1 fs-6 me-2 mb-2">Photography</button>
          <button class="btn btn-secondary rounded-1 fs-6 me-2 mb-2">Shoes</button>
          <button class="btn btn-secondary rounded-1 fs-6 me-2 mb-2">Women</button>
        </div>

      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

