.img-product {
  width: 100%;
  max-width: 100px;
  min-height: 100px;
}

.breadcrumb {
  font-size: clamp(21px, 1.2vw, 80px);
}

.product-name {
    font-size: clamp(21px, 1.2vw, 80px);
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
