<section class="breadcrumb my-5">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center gap-3">
      <a href=""><h4 class="fw-bold text-success">Shopping Cart</h4></a>
      <span class="iconify text-secondary mx-2 mb-1 fs-5" data-icon="ion:chevron-right"></span>
      <a href=""><h4 class="fw-bold">Procced To Checkout</h4></a>
      <span class="iconify text-secondary mx-2 mb-1 fs-5" data-icon="ion:chevron-right"></span>
      <a href=""><h4 class="fw-bold">Order Complete</h4></a>
    </div>
  </div>
</section>

<section class="cart mb-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th class="fs-6">PRODUCT</th>
              <th class="fs-6">PRICE</th>
              <th class="fs-6">QUANTITY</th>
              <th class="fs-6 text-end">SUBTOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-start align-middle">
                <div class="product-thumbnail position-relative py-3">
                  <img src="assets/img/jam.webp" class="object-fit-cover" width="80" height="80" alt="">
                </div>
              </td>
              <td class="align-middle fs-6">25 Acoustic Noise</td>
              <td class="align-middle fs-6 text-secondary">Rp 2.00.000</td>
              <td class="align-middle">
                <div class="d-flex align-items-center">
                  <button class="btn border border-end-0 rounded-0 py-2 px-1 align-middle">
                    <span class="iconify" data-icon="mdi-light:minus"></span>
                  </button>
                  <input type="text" class="form-control border rounded-0 py-2 px-1 align-middle fw-bold text-center" value="1" style="width: 50px;">
                  <button class="btn border border-start-0 rounded-0 py-2 px-1 align-middle">
                    <span class="iconify" data-icon="mdi-light:plus"></span>
                  </button>
                </div>
              </td>
              <td class="text-end align-middle fs-6 fw-bold">Rp 2.00.000</td>
            </tr>
          </tbody>
        </table>
        <a href="javascript:void(0)" routerLink="/katalog" class="btn btn-sm btn-light fw-bold rounded-0 px-3 py-2 mt-3">CONTINUE SHOPPING</a>
        <div class="form-group mt-4">
          <label for="inputState" class="form-label text-secondary">Special instructions for seller</label>
          <textarea type="text" class="form-control form-control-sm px-2 py-2" rows="10"></textarea>
        </div>
      </div>
      <div class="col-4">
        <div class="cart-total border border-2 border-secondary border-opacity-10 py-4">
          <div class="title fs-6 fw-bold px-4">CART TOTALS</div>
          <div class="body px-5 mt-4">
            <div class="d-flex justify-content-between align-items-center">
              <span class="fw-bold" style="font-size: 14px;">Subtotal</span> <span> Rp 200.000</span>
            </div>
            <hr>
            <div class="fs-6 fw-bold">Estimate Shipping and Tax</div>
            <p class="text-secondary">Enter your destination to get a shipping estimate.</p>
            <div class="form-group mb-3">
              <label for="country" class="form-label text-secondary">Country</label>
              <select id="country" class="form-select form-select-sm px-2 py-2">
                <option selected>Choose...</option>
                <option>Indonesia</option>
                <option>Malaysia</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="zip" class="form-label text-secondary">ZIP/POSTAL CODE</label>
              <input id="zip" type="text" class="form-control form-control-sm px-2 py-2">
            </div>
            <button class="btn btn-sm btn-light fw-bold rounded-0 px-3 py-2 mb-2">GET A QUOTE</button>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <span class="fw-bold fs-6">Total</span> <span class="fw-bold fs-5"> Rp 200.000</span>
            </div>
            <button class="btn btn-dark w-100 rounded-0 fw-bold py-3 mt-5">
              PROCCED TO CHECKOUT
              <span class="iconify mb-1 fs-5" data-icon="lucide:arrow-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
