<section style="background-color: #FBFBFB;">
    <div class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <img src="../../../assets/img/undraw/email-send.svg" alt="login" width="250">
                <h1 class="fs-3 font-m fw-bolder mt-3">Verifikasi Email Berhasil</h1>
                <h2 class="fs-6 font-m mt-4">Terima kasih telah memverifikasi alamat email Anda. Email Anda telah berhasil diverifikasi, dan akun Anda sekarang telah diaktifkan.</h2>
                <p class="fs-6 font-m mt-5">Anda sekarang dapat mengakses semua fitur yang tersedia di aplikasi kami.</p>

                <a href="/login" class="btn btn-primary mt-2 font-p">Login</a>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

