<section class="subscription d-flex align-items-center" style="height: 78vh;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <img src="../../../assets/img/undraw/subscription.svg" alt="empty-address" width="400">
            </div>
            <div class="col-4">
                <div class="text-center">
                    <h1 class="fs-4 font-m">Get Discount</h1>
                    <h2 class="fs-1 font-p fw-bold">3-5%</h2>
                    <h3 class="fs-6 fw-bold font-m">DAPATKAN DISKON VOUCHER & INFO PRODUK TERBARU</h3>
                    <p class="font-m fs-6">Masukan email Kamu dan cek email dibagian Promosi kemudian konfirmasi.  Tunggu beberapa menit Kode Voucher akan dikirim ke alamat email kamu dibagian Promosi</p>
                </div>
                <div class="mb-3 mt-4">
                    <input type="text" class="form-control font-m" name="email" id="email" placeholder="Email">
                </div>
                <button class="btn btn-primary font-m w-100 py-2">SUBSCRIBE</button>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

  