<section class="header bg-secondary bg-opacity-10 py-3">
    <div class="container text-center py-5" style="font-size: 12px;">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="text-primary" href="javascript:void(0)">HOME</a> <span class="iconify text-grey ms-2 me-1" data-icon="ion:chevron-right"></span> MY ADDRESS
        <h1 class="fw-bold fs-2 font-p mt-2">My Address</h1>
    </div>
</section>

<section class="content-login py-5">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="d-flex justify-content-end border-bottom pb-3 mb-5">
                    <button class="btn btn-sm btn-dark rounded-0 px-3 py-2">ADD NEW ADDRESS</button>
                </div>
                <div class="card rounded-0 border-bottom-0">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="mb-0 text-uppercase fw-bold" style="font-size: 15px;">GALIH SATRIO WIBISONO</div>
                        <div>
                            <button class="btn btn-sm btn-primary rounded-0 font-p me-1">Edit</button>
                            <button class="btn btn-sm btn-danger rounded-0 font-p">Delete</button>
                        </div>
                    </div>
                    <div class="card-body" style="font-size: 14px;">
                      <div>Jl Puter Tengah no.1, Rt 02 Rw 12, Kelurahan Tanjungrejo, Kecamatan Sukun</div>
                      <div>Malang</div>
                      <div>65147</div>
                      <div>Jawa Timur</div>
                      <div class="mb-3">Indonesia</div>
                    </div>
                </div>
                <div class="card rounded-0">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="mb-0 text-uppercase fw-bold" style="font-size: 15px;">Anggita shefiana</div>
                        <div>
                            <button class="btn btn-sm btn-primary rounded-0 font-p me-1">Edit</button>
                            <button class="btn btn-sm btn-danger rounded-0 font-p">Delete</button>
                        </div>
                    </div>
                    <div class="card-body" style="font-size: 14px;">
                      <div>Jl Bunga Mawar no.1, Desa Gandu, Kecamatan Bagor</div>
                      <div>Nganjuk</div>
                      <div>65147</div>
                      <div>Jawa Timur</div>
                      <div class="mb-3">Indonesia</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

  