<section class="subscription py-lg-5">
    <div class="container py-lg-5 my-5">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 text-center">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <img src="../../../assets/img/undraw/unsubscribe.svg" class="object-fit-cover w-100" style="max-width: 300px;" alt="empty-address" width="400">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="text-center">
                    <h1 class="fs-4 font-m fw-bold">Unsubscribe</h1>
                    <h2 class="font-m fs-6">Anda telah memasuki halaman unsubscribe. Jika Anda yakin ingin berhenti berlangganan, silakan tekan tombol "Unsubscribe" di bawah ini.</h2>
                </div>
                <div>
                    <h3 class="font-p fw-semibold fs-14">Informasi Tambahan</h3>
                    <ul class="font-p fs-14">
                        <li>Berhenti berlangganan akan menghentikan pengiriman update dan informasi terbaru dari kami.</li>
                        <li>Jika Anda ingin kembali berlangganan di masa depan, Anda selalu bisa mengunjungi situs web kami dan mendaftar kembali.</li>
                    </ul>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control font-m" name="email" [(ngModel)]="model.email" id="email" placeholder="Email">
                </div>
                <button class="btn btn-danger font-m w-100 py-2" [disabled]="loading" (click)="subscribe()">
                    <i class='bx bx-loader-alt bx-spin' *ngIf="loading"></i>
                    <span *ngIf="!loading">Unsubscribe</span>
                </button>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

  