<section class="breadcrumb my-3 my-lg-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-2 text-center mb-1">
                <a href="javascript:void(0)"><span class="fw-bold text-primary">Keranjang</span></a>
            </div>
            <div class="col-1 d-none d-lg-block text-center">
                <span class="iconify text-grey" data-icon="ion:chevron-right"></span>
            </div>
            <div class="col-12 col-lg-3 text-center mb-1">
                <span class="iconify text-grey me-2 mb-2 d-inline d-lg-none" data-icon="ion:chevron-right"></span>
                <a href="javascript:void(0)"><span class="fw-bold text-primary">Proses Pembayaran</span></a>
            </div>
            <div class="col-1 d-none d-lg-block text-center">
                <span class="iconify text-grey" data-icon="ion:chevron-right"></span>
            </div>
            <div class="col-12 col-lg-2 text-center mb-1">
                <span class="iconify text-grey me-2 mb-2 d-inline d-lg-none" data-icon="ion:chevron-right"></span>
                <a href="javascript:void(0)"><span class="fw-bold">Selesai</span></a>
            </div>
        </div>
    </div>
</section>

<section class="cart mb-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7 mb-3">
                <form>
                    <p class="fs-4 font-m fw-semibold">Kontak Customer</p>
                    <div class="form-group mb-3">
                        <label for="email" class="form-label font-p fs-14">Email</label>
                        <input type="email" class="form-control font-p fs-14" id="email" aria-describedby="email"
                            [(ngModel)]="model.email" name="email">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="subsribe">
                        <label class="form-check-label font-p fs-14" for="subsribe">Email saya untuk promo menarik
                            lainnya</label>
                    </div>

                    <p class="fs-4 font-m fw-semibold mt-5">Alamat Pengiriman</p>
                    <fieldset [disabled]="true" *ngIf="model.recipient">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="recipient" class="form-label font-p fs-14">Penerima</label>
                                    <input type="text" class="form-control font-p fs-14" id="recipient"
                                        [(ngModel)]="model.recipient" name="recipient">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="phone_number" class="form-label font-p fs-14">Nomor Telepon</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="phone_number"> {{ model.phone_code }} </span>
                                        <input type="text" class="form-control font-p fs-14" id="phone_number"
                                            [(ngModel)]="model.phone_number" name="phone_number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="address" class="form-label font-p fs-14">Alamat</label>
                                    <textarea type="text" class="form-control font-p fs-14" id="address"
                                        [(ngModel)]="model.address" name="address" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="province_name" class="form-label font-p fs-14">Provinsi</label>
                                    <input type="text" class="form-control font-p fs-14" id="province_name"
                                        [(ngModel)]="model.province_name" name="province_name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="city_name" class="form-label font-p fs-14">Kota</label>
                                    <input type="text" class="form-control font-p fs-14" id="city_name"
                                        [(ngModel)]="model.city_name" name="city_name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="subdistrict_name" class="form-label font-p fs-14">Kecamatan</label>
                                    <input type="text" class="form-control font-p fs-14" id="subdistrict_name"
                                        [(ngModel)]="model.subdistrict_name" name="subdistrict_name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="village_name" class="form-label font-p fs-14">Desa</label>
                                    <input type="text" class="form-control font-p fs-14" id="village_name"
                                        [(ngModel)]="model.village_name" name="village_name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="postal_code" class="form-label font-p fs-14">Kode Pos</label>
                                    <input type="text" class="form-control font-p fs-14" id="postal_code"
                                        [(ngModel)]="model.postal_code" name="postal_code">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="pin_point" class="form-label font-p fs-14">Pin Poin</label>
                                    <app-map [isViewParent]="false" [lat]="model.latitude" [long]="model.longitude" (koordinat)="setKoordinat($event)" [search]="false" [disabledMap]="true" [style]="true" [geocoding]="false"></app-map>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row" *ngIf="model.recipient">
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary w-100 fs-6 py-2 font-p" (click)="checkout()"
                                [disabled]="loading || disabled">
                                <i class='bx bx-loader-alt bx-spin' *ngIf="loading"></i>
                                <span *ngIf="!loading">Bayar</span>
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="!model.recipient">
                        <div class="col-8 text-center">
                            <img src="../../../assets/img/undraw/empty.png" class="w-100" alt="empty-address"
                                width="300">
                            <p class="font-p fs-14">Mohon Maaf, alamat pengiriman anda belum ada, harap tambahkan alamat
                                pengiriman di
                                menu akun</p>
                            <a href="/account/address" class="btn btn-primary btn-sm rounded-5 px-3">
                                <i class='bx bx-map-pin me-1'></i>
                                Tambahkan Alamat
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 col-xl-5">
                <div class="cart-total border rounded-2 border-opacity-10 p-4">
                    <a href="javascript:void(0)" (click)="openVoucher(modalVoucher)">
                        <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4"
                            *ngIf="isAvailableVoucher">
                            <div class="text-primary d-flex align-items-center">
                                <i class='bx bxs-discount fs-4 me-2'></i>
                                <span class="fs-5 fw-semibold font-m">{{ selectedVoucher.redeem_code }}</span>
                            </div>
                            <i class="bx bx-chevron-right text-grey fs-5"></i>
                        </div>
                        <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4"
                            *ngIf="!isAvailableVoucher">
                            <div class="text-primary d-flex align-items-center">
                                <i class='bx bxs-discount fs-4 me-2'></i>
                                <span class="fs-5 fw-semibold font-m">Gunakan Voucher</span>
                            </div>
                            <i class="bx bx-chevron-right text-grey fs-5"></i>
                        </div>
                    </a>
                    <div class="container-fluid">
                        <div class="row" *ngFor="let item of listCart; index as i">
                            <div class="col-2 p-0">
                                <div class="image-thumbnail text-center">
                                    <img [src]="item.foto" class="object-fit-cover rounded-1" width="64" height="64"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-7 pe-0">
                                <p class="mb-0 font-m fs-14"> {{ item.nama }} </p>
                                <small class="font-p fs-12">{{item.quantity}} x {{item.harga | numberFormat}} </small>
                            </div>
                            <div class="col-3 p-0">
                                <p class="font-p fw-semibold text-end fs-14 mt-3">Rp {{ item.subtotal_price |
                                    numberFormat }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="fs-14 font-m fw-semibold">Pengiriman</span>
                        <a href="javascript:void(0);" (click)="openPengiriman(modalPengiriman)"
                            class="text-primary fw-bold font-p fs-12">Pilih</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-2" *ngIf="isAvailableKurir">
                        <div class="font-p">
                            <p class="fw-semibold fs-14 mb-1">{{ selectedKurir.courier_name }}</p>
                            <p class="mb-0 fs-12">Estimasi tiba {{ selectedKurir.duration }}</p>
                        </div>
                        <div class="font-p fw-semibold fs-14">
                            Rp {{ selectedKurir.cost | numberFormat }}
                        </div>
                    </div>
                    <table class="w-100 mt-3">
                        <tr height="40">
                            <td class="font-p fs-14 align-middle">Subtotal</td>
                            <td class="text-end font-p fs-14 align-middle">Rp {{ subtotal | numberFormat }}</td>
                        </tr>
                        <tr height="50" *ngIf="isAvailableVoucher">
                            <td class="font-p fs-14">Voucher</td>
                            <td class="text-end font-p fs-14">-Rp {{ voucher | numberFormat }}</td>
                        </tr>
                        <tr height="60" class="border-top">
                            <td class="fs-6 font-p fw-semibold">Grandtotal</td>
                            <td class="text-end fs-6 font-p fw-semibold">Rp {{ total | numberFormat }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

<ng-template #modalVoucher let-offcanvas>
    <div class="offcanvas-header px-3">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Voucher</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body px-3">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control font-m fs-14" placeholder="Masukkan kode voucher...">
                </div>
            </div>
            <div class="list">
                <div class="list-item border rounded-4 py-3 mb-3" *ngFor="let item of listVoucher">
                    <div class="container-fluid px-3">
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class='bx bxs-discount bx-lg text-primary'></i>
                            </div>
                            <div class="col-8 font-m">
                                <p class="mb-1">{{ item.voucher }}</p>
                                <p class="mb-1 fs-14 text-primary fw-semibold">Potongan
                                    <span *ngIf="item.type === 'P'">{{ item.voucher_value }}%</span>
                                    <span *ngIf="item.type === 'N'">Rp. {{ item.voucher_value | numberFormat }}</span>
                                </p>
                                <p class="mb-1 fs-12">Berlaku hingga {{ item.tanggal_selesai }} <span
                                        class="text-success font-p">S&K</span></p>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <button class="btn btn-sm btn-primary rounded-5 px-2 font-p fs-12 text-uppercase"
                                    (click)="pilihVoucher(item)">
                                    Gunakan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalPengiriman let-offcanvas>
    <div class="offcanvas-header px-3">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Pengiriman</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body px-3">
        <div class="container-fluid">
            <div class="list" *ngFor="let item of listKurir">
                <div class="list-item border rounded-4 p-3 mb-3" *ngFor="let v of item.detail">
                    <a href="javascript:void(0);" (click)="pilihKurir(v)">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="font-p">
                                <p class="fw-semibold fs-14 mb-1">{{ v.courier_name }}</p>
                                <p class="mb-0 fs-12">Estimasi tiba {{ v.duration }}</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="font-p fw-semibold fs-14">Rp {{ v.cost | numberFormat }}</span>
                                <i class="bx bx-check bx-sm text-primary"
                                    *ngIf="v.courier_code === selectedKurir.courier_code && v.description === selectedKurir.description"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>