<section class="breadcrumb mt-lg-5">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb fs-14">
                <li class="breadcrumb-item">
                    <a href="/home">
                        <i class="bx bx-home me-1"></i> Homepage
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/news">Berita</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/news/{{model.slug}}">{{ model.judul }}</a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section>
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-9">
                <div class="list-news mb-4">
                    <article>
                        <h1 class="font-m fw-bold fs-2 mb-5">{{ model.judul }}</h1>
                        <img [src]="model.image" class="img-thumbnail object-fit-cover w-100 mb-3" height="200" height="">
                        <div class="overflow-hidden" [innerHTML]="model.content"></div>
                    </article>
                </div>

                <div class="share my-5">
                    <p class="font-p fs-6 fw-semibold mb-2">Share :</p>
                    <div class="d-flex align-items-center flex-wrap">
                        <button class="btn py-2 px-3 text-white d-flex align-items-center me-2 mb-2" style="background-color: #3b5998;" (click)="clickShareButton('facebook')">
                            <i class='bx bxl-facebook-circle fs-5 me-2'></i>
                            Facebook
                        </button>
                        <button class="btn py-2 px-3 text-white d-flex align-items-center me-2 mb-2" style="background-color: #1da1f2;" (click)="clickShareButton('twitter')">
                            <i class='bx bxl-twitter fs-5 me-2'></i>
                            Twitter
                        </button>
                        <button class="btn py-2 px-3 text-white d-flex align-items-center me-2 mb-2" style="background-color: green;" (click)="clickShareButton('wa')">
                            <i class='bx bxl-whatsapp fs-5 me-2'></i>
                            Whatsapp
                        </button>
                        <button class="btn py-2 px-3 text-white d-flex align-items-center me-2 mb-2" style="background-color: #0077b5;" (click)="clickShareButton('link')">
                            <i class='bx bx-link fs-5 me-2'></i>
                            Copy Link
                        </button>
                    </div>
                </div>

                <div class="komentar mb-5">
                    <h1 class="fs-4 font-m mb-2">Tinggalkan komentar</h1>
                    <p class="font-m fs-14">Alamat email Anda tidak akan dipublikasikan. Bidang yang wajib diisi ditandai *</p>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <textarea class="form-control" name="komentar" id="komentar" [(ngModel)]="model.komentar" placeholder="Tulis disini..." rows="5"></textarea>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="nama" [(ngModel)]="model.nama" placeholder="Nama*">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="email" [(ngModel)]="model.email" placeholder="Email*">
                        </div>
                        <div class="col-12 mt-3">
                            <re-captcha (resolved)="resolved($event)" siteKey="6LeHRDsfAAAAAOkNj6VcGBU8jcX1qjiMqV_jhXMf"></re-captcha>
                        </div>
                        <div class="col mt-3">
                            <button class="btn btn-info font-m fs-14 px-3 py-2" (click)="postComment()" [disabled]="!model.captcha">
                                Kirim Komentar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="reviews mt-3">
                    <h1 class="fs-4 font-m mb-4">Komentar Terkait</h1>
                    <ng-container *ngIf="listComment.length > 0">
                        <div class="row justify-content-end mb-3" *ngFor="let item of listComment">
                            <div class="col-2 col-xl-1">
                                <img src="../../../assets/img/avatar/avatar-user.png" class="object-fit-cover w-100 rounded-circle" style="aspect-ratio: 4/4" alt="">
                            </div>
                            <div class="col-10 col-xl-11 bg-body-tertiary rounded-end-4 rounded-bottom-4 py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="detail">
                                        <span class="fw-bold fs-6 font-m">{{ item.nama }} - </span> <span class="font-m fs-14">{{ item.nama }} on {{ item.tanggal | date:'MMM dd, yyy' }}</span>
                                    </div>
                                </div>
                                <p class="mt-3 fs-14 font-m px-2">
                                    {{ item.komentar }}
                                </p>
                            </div>
                            <ng-container *ngIf="item.balasan">
                                <div class="col-2 col-xl-1 mt-3">
                                    <img src="../../../assets/img/avatar/avatar-admin.png" class="object-fit-cover w-100 rounded-circle" style="aspect-ratio: 4/4" alt="">
                                </div>
                                <div class="col-9 col-xl-10 mt-3 bg-light rounded-end-4 rounded-bottom-4 py-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="detail">
                                            <span class="fw-bold fs-6 font-m">Admin - </span> <span class="font-m fs-14">Admin on {{ item.tanggal_balasan | date:'MMM dd, yyy' }}</span>
                                        </div>
                                    </div>
                                    <p class="mt-3 fs-14 font-m px-2">
                                        {{ item.balasan }}
                                    </p>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <div class="row" *ngIf="listComment.length == 0">
                        <div class="col-12 py-5 text-center">
                            <span class="fs-4 font-p">Belum ada Komentar...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
              <div class="right-content border sticky-top p-3" style="z-index: 1; top: 100px;">
                <h1 class="font-p fs-6 fw-semibold mb-4">Postingan Terbaru</h1>
                <div class="list-recent d-flex mb-3" *ngFor="let item of listNewsTerbaru">
                    <img [src]="item.image" class="rounded me-3" [alt]="item.image_alt" width="60" height="60">
                    <div>
                        <div class="title fs-14"> {{ item.judul | limitSentences:1}}</div>
                        <small class="date text-grey fs-12">{{ item.created_at | date:'MMMM dd, YYY' }}</small>
                    </div>
                </div>
                <h1 class="font-p fs-6 fw-semibold mt-4 mb-4">TAG</h1>
                <button class="btn btn-secondary font-p rounded-1 fs-6 me-2 mb-2" *ngFor="let item of tags">{{item}}</button>
              </div>

            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
