<section class="breadcrumb mt-lg-5">
	<div class="container">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb fs-14">
				<li class="breadcrumb-item">
					<a href="/home">
						<i class="bx bx-home me-1"></i> Homepage
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="/news">Berita</a>
				</li>
				<li class="breadcrumb-item active">
					<a href="/news/{{model.slug}}">{{ model.judul }}</a>
				</li>
			</ol>
		</nav>
	</div>
</section>

<section>
	<div class="container pb-5">
		<div class="row">
			<div class="col-9">
                <div class="list-news mb-4" >
                    <h1 class="fs-2 mb-5">{{ model.judul }}</h1>
                    <img [src]="model.image" class="img-thumbnail object-fit-cover w-100 mb-3" height="200" height="">
                    <div [innerHTML]="model.content"></div>
                </div>
			</div>
			<div class="col-3">
				<div class="right-content border sticky-top p-3" style="z-index: 1; top: 100px;">
					<h1 class="font-p fs-6 fw-semibold mb-4">Postingan Terbaru</h1>
					<div class="list-recent d-flex mb-3">
						<img src="https://source.unsplash.com/random/60x60?flower=1" class="rounded me-3" alt=""
							width="60" height="60">
						<div>
							<div class="title"> Post Format - Photo</div>
							<small class="date text-grey">December 06, 2016</small>
						</div>
					</div>
					<div class="list-recent d-flex mb-3">
						<img src="https://source.unsplash.com/random/60x60?human=1" class="rounded me-3" alt=""
							width="60" height="60">
						<div>
							<div class="title"> Post Format - Video</div>
							<small class="date text-grey">December 06, 2016</small>
						</div>
					</div>
					<div class="list-recent d-flex mb-3">
						<img src="https://source.unsplash.com/random/60x60?laptop=1" class="rounded me-3" alt=""
							width="60" height="60">
						<div>
							<div class="title"> Post Format - Photo</div>
							<small class="date text-grey">December 06, 2016</small>
						</div>
					</div>
					<h1 class="font-p fs-6 fw-semibold mt-5 mb-4">TAG</h1>
					<button class="btn btn-secondary font-p rounded-1 fs-6 me-2 mb-2">Blog</button>
					<button class="btn btn-secondary font-p rounded-1 fs-6 me-2 mb-2">Clothing</button>
					<button class="btn btn-secondary font-p rounded-1 fs-6 me-2 mb-2">Dresses</button>
					<button class="btn btn-secondary font-p rounded-1 fs-6 me-2 mb-2">Fashion</button>
					<button class="btn btn-secondary font-p rounded-1 fs-6 me-2 mb-2">Photography</button>
					<button class="btn btn-secondary font-p rounded-1 fs-6 me-2 mb-2">Shoes</button>
					<button class="btn btn-secondary font-p rounded-1 fs-6 me-2 mb-2">Women</button>
				</div>

			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>