<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4">
        <h1 class="fs-3  mb-0">Riwayat Pembelian</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="input-group ">
                        <input type="text" class="form-control fs-14" [(ngModel)]="filter.nama" name="filter_nama" placeholder="Cari produk yang kamu beli" aria-label="name" aria-describedby="search-product">
                        <span class="input-group-text" role="button" (click)="getOrder()" id="search-product">
                            <i class="bx bx-search"></i>
                        </span>
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
        <div class="col-12 p-3">
            <!-- <span class="fw-semibold  me-2">Status : </span> -->
            <button class="btn btn-sm font-p me-2" [ngClass]="filter.status == '' ? 'btn-primary' : 'btn-outline-primary'" (click)="filterStatus('')"> 
                <i class="bx bx-check me-1" *ngIf="filter.status == ''"></i> 
                <span class="fs-12">Semua</span>
            </button>
            <button class="btn btn-sm font-p me-2" [ngClass]="filter.status == 'ordered' ? 'btn-primary' : 'btn-outline-primary'" (click)="filterStatus('ordered')"> 
                <i class="bx bx-check me-1" *ngIf="filter.status == 'ordered'"></i> 
                <span class="fs-12">Pemesanan</span> 
            </button>
            <button class="btn btn-sm font-p me-2" [ngClass]="filter.status == 'processed' ? 'btn-primary' : 'btn-outline-primary'" (click)="filterStatus('processed')"> 
                <i class="bx bx-check me-1" *ngIf="filter.status == 'processed'"></i> 
                <span class="fs-12">Dalam Proses</span> 
            </button>
            <button class="btn btn-sm font-p me-2" [ngClass]="filter.status == 'sent' ? 'btn-primary' : 'btn-outline-primary'" (click)="filterStatus('sent')"> 
                <i class="bx bx-check me-1" *ngIf="filter.status == 'sent'"></i> 
                <span class="fs-12">Pengiriman</span> 
            </button>
            <button class="btn btn-sm font-p me-2" [ngClass]="filter.status == 'received' ? 'btn-primary' : 'btn-outline-primary'" (click)="filterStatus('received')"> 
                <i class="bx bx-check me-1" *ngIf="filter.status == 'received'"></i> 
                <span class="fs-12">Diterima</span> 
            </button>
            <button class="btn btn-sm font-p me-2" [ngClass]="filter.status == 'canceled' ? 'btn-primary' : 'btn-outline-primary'" (click)="filterStatus('canceled')"> 
                <i class="bx bx-check me-1" *ngIf="filter.status == 'canceled'"></i> 
                <span class="fs-12">Dibatalkan</span> 
            </button>
        </div>
        <ng-container *ngIf="listOrder.length > 0">
            <div class="col-12 mb-3" *ngFor="let item of listOrder">
                <div class="order-item rounded-3 px-2">
                    <div class="p-2 fs-14 border-bottom">
                        <span class="fw-semibold font-p me-2"><i class='bx bx-shopping-bag me-1'></i> Belanja</span>
                        <span class="me-3 font-m">{{item.date}}</span> 
                        <span class="badge me-3 mb-0" 
                            [ngClass]="{
                                'bg-primary': item.status_order == 'ordered', 
                                'bg-warning': item.status_order == 'processed', 
                                'bg-info': item.status_order == 'sent', 
                                'bg-success': item.status_order == 'received',
                                'bg-danger': item.status_order == 'canceled'
                            }"
                        >{{ 
                            item.status_order == 'ordered' ? 'Pemesanan' :
                            item.status_order == 'processed' ? 'Dalam Proses' : 
                            item.status_order == 'received' ? 'Diterima' : 
                            item.status_order == 'sent' ? 'Pengiriman' : 'Canceled'
                        }}</span> 
                        <span class="text-grey font-m">{{item.invoice_number}}</span>
                    </div>
                    <div class="row py-3">
                        <div class="col-9">
                            <div class="item d-flex align-items-center mb-3" *ngFor="let detail of item.detail">
                                <div class="p-2 me-2">
                                    <img [src]="detail.photo" class="rounded-2 object-fit-cover" width="90" height="90" alt="">
                                </div>
                                <div>
                                    <h1 class="fs-14 font-p mb-0">{{ detail.nama }}</h1>
                                    <p class="text-grey fs-12 font-p mb-1">{{ detail.qty }} pcs x Rp. {{ detail.price | numberFormat }}</p>
                                    <button class="btn btn-sm btn-primary me-2 fs-12 fw-bold float-end" (click)="openModalRating(modalRating, item.id, detail)" *ngIf="item.status_order == 'received'">
                                        {{ !!detail.ulasan_id ? 'Lihat Ulasan' : 'Beri Ulasan' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <div class="border-start text-center px-3 d-flex justify-content-center flex-column py-3">
                                <p class="text-grey  fs-14 mb-0">Total Belanja</p>
                                <p class=" fs-16 fw-semibold mb-0">Rp. {{ item.grand_total | numberFormat }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 text-end">
                        <button class="btn btn-sm btn-primary px-5 fs-12 fw-bold" (click)="openModalDetail(modalDetail, item)">
                            Detail
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="listOrder.length == 0">
            <div class="col-12 text-center py-5">
                <img src="assets/img/undraw/empty-order.svg" alt="empty-address" width="300">
                <p class="mt-3 font-p">Oops, belum ada transaksi</p>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #modalDetail let-modal>
    <div class="modal-header">
        <div class="font-m fs-5 fw-bolder px-3">Detail Transaksi</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="d-flex border-bottom pb-3 mb-3">
                        <span class="font-p fw-semibold">Pesanan Selesai</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="font-p fs-12">No Invoice</span>
                        <span class="font-p fs-12 fw-semibold text-primary"> {{ dataDetail.invoice_number }} </span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="font-p fs-12">Tanggal Pembelian</span>
                        <span class="font-p fs-12">{{ dataDetail.date }}</span>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="d-flex mb-3">
                        <span class="font-p fw-semibold">Detail Produk</span>
                    </div>
                    <ng-container *ngFor="let detail of dataDetail.detail">
                        <div class="list-produk border rounded-3 py-4 px-3">
                            <div class="item row">
                                <div class="col-9 d-flex align-items-center">
                                    <img [src]="detail.photo" class="rounded-2 object-fit-cover" alt="" width="50" height="50">
                                    <div class="ms-3">
                                        <p class="font-p fw-semibold fs-12 mb-0">{{ detail.nama }}</p>
                                        <span class="fs-12 font-p text-grey">{{ detail.qty }} x Rp. {{ detail.price | numberFormat }}</span>
                                    </div>
                                </div>
                                <div class="col-3 d-flex flex-column justify-content-center">   
                                    <div class="font-m fs-12">Total Harga</div>
                                    <div class="font-p fw-semibold fs-12">Rp. {{ detail.subtotal | numberFormat }}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="col-12 mb-4">
                    <div class="d-flex mb-3">
                        <span class="font-p fw-semibold">Info Pengiriman</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="w-100 font-m fs-12">
                                <tr height="30" *ngIf="dataDetail.shipping_sender">
                                    <td width="20%" class="align-top">Kurir</td>
                                    <td width="20" class="text-center align-top">:</td>
                                    <td class="align-top">{{ dataDetail.shipping_sender }} - {{ dataDetail.shipping_group }}</td>
                                </tr>
                                <tr height="30">
                                    <td width="20%" class="align-top">Alamat</td>
                                    <td width="20" class="text-center align-top">:</td>
                                    <td class="align-top">          
                                        <b> {{ dataDetail.recipient }} </b> <br>
                                        {{ dataDetail.phone_code }} {{ dataDetail.phone_number }} <br>
                                        {{ dataDetail.address }}, {{ dataDetail.village_name }}, Kec {{ dataDetail.subdistrict_name }}, Kota {{ dataDetail.city_name }}, {{ dataDetail.province_name }} {{ dataDetail.postal_code }}
                                    </td>
                                </tr>
                                <tr height="30" *ngIf="dataDetail.awb_shipping">
                                    <td width="20%" class="align-middle">No Resi</td>
                                    <td width="20" class="text-center align-middle">:</td>
                                    <td class="align-middle">
                                        {{ dataDetail.awb_shipping }}
                                        <span class="badge text-bg-secondary fs-12 ms-1" role="button" (click)="tampilResi = !tampilResi">
                                            <i class='bx bx-show-alt' *ngIf="!tampilResi"></i>
                                            <i class='bx bx-low-vision' *ngIf="tampilResi"></i>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                   </div>
                   <div class="row mt-3" *ngIf="tampilResi">
                        <div class="col-12">
                            <div class="bg-secondary rounded-3 p-3">
                                <div class="steps">
                                    <div class="line"></div>
                                    <div class="item row">
                                        <div class="col-3 pe-0 d-flex">
                                            <div class="icon-box me-1">
                                                <span class="iconify icon" [attr.data-icon]="'material-symbols:check-circle-outline-rounded'"></span>
                                            </div>
                                            <div class="font-m mt-1 fs-12">2024/07/01 <br> 11:51</div>
                                        </div>
                                        <div class="col-9">
                                            <p class="font-m mb-0 fs-12">Courier order is confirmed. jne has been notified to pick up. Pickup Number: 4108392400001008</p>
                                            <p class="mb-2">Konfirmasi</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="steps">
                                    <div class="line"></div>
                                    <div class="item row">
                                        <div class="col-3 pe-0 d-flex">
                                            <div class="icon-box me-1">
                                                <span class="iconify icon" [attr.data-icon]="'material-symbols:check-circle-outline-rounded'"></span>
                                            </div>
                                            <div class="font-m mt-1 fs-12">2024/07/01 <br> 11:51</div>
                                        </div>
                                        <div class="col-9">
                                            <p class="font-m mb-0 fs-12">Item has been picked and ready to be shipped.</p>
                                            <p class="mb-2">Picked</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="d-flex mb-3">
                        <span class="font-p fw-semibold">Rincian Pembayaran</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                        <span class="font-p fs-12">Metode Pembayaran</span>
                        <span class="font-p fs-12 fw-semibold">{{ dataDetail.pay_channel }} ( {{ dataDetail.pay_method }} )</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="font-p fs-12">Total Harga ({{dataDetail.detail.length}} Barang)</span>
                        <span class="font-p fs-12 fw-semibold">Rp {{ dataDetail.total_price | numberFormat }}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3" *ngIf="dataDetail.total_pengiriman">
                        <span class="font-p fs-12">Total Ongkos Kirim</span>
                        <span class="font-p fs-12 fw-semibold">Rp {{ dataDetail.total_pengiriman | numberFormat }}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3" *ngIf="dataDetail.total_voucher">
                        <span class="font-p fs-12">Total Diskon Barang</span>
                        <span class="font-p fs-12 fw-semibold">-Rp {{ dataDetail.total_voucher | numberFormat }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="font-p fw-semibold fs-14">Total Belanja</span>
                        <span class="font-p fs-12 fw-semibold">Rp {{ dataDetail.grand_total | numberFormat }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalRating let-modal>
    <div class="modal-header">
        <div class="font-m fs-5 fw-bolder px-3">Rating</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="text-center">
                        <h1 class="fs-5 font-p fw-semibold mb-4">Beri Rating Produk</h1>
                        <img [src]="dataUlasan.photo" class="rounded-2 object-fit-cover mb-3" width="100" height="100" alt="">
                        <p class="font-m fw-semibold fs-5">{{ dataUlasan.nama }}</p>

                        <div class="rating text-warning fs-1 mb-1">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <span 
                                  (mouseenter)="onMouseEnter(i)"
                                  (mouseleave)="onMouseLeave()"
                                  (click)="rate(i)"
                                  class="bx"
                                  [ngClass]="{'bx-star': i > hoveredStar, 'bxs-star': i <= hoveredStar || i < dataUlasan.rating, 'pointer-none' : dataUlasan.ulasan_id }"
                                ></span>
                            </ng-container>
                        </div>
                        <p class="font-m fs-5" *ngIf="!!pesan">{{pesan}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="form-label font-p fs-14">Ulasan</label>
                        <textarea class="form-control font-m fs-14" name="ulasan" id="ulasan" [(ngModel)]="dataUlasan.ulasan" rows="6" placeholder="Berikan pengalaman belanja kamu" [disabled]="dataUlasan.ulasan_id"></textarea>
                    </div>
                </div>
                <div class="col-12 text-end">
                    <button class="btn btn-secondary btn-sm me-2" (click)="modal.dismiss('Cross click')">
                        <i class="bx bx-chevron-left me-1"></i>
                        Kembali
                    </button>
                    <button class="btn btn-primary btn-sm" [disabled]="loading" (click)="postUlasan()" *ngIf="!dataUlasan.ulasan_id">
                        <i class='bx bxs-send me-1' *ngIf="!loading"></i>
                        <i class='bx bx-loader-alt bx-spin me-1' *ngIf="loading"></i>
                        Kirim
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>




