<section class="header">
  <div class="container fw-semibold">
    <div class="d-flex align-items-center py-3">
      <div class="language">
        <div ngbDropdown placement="bottom-start" class="d-inline-block">
          <button type="button" class="border-0 bg-white" id="dropdownLanguage" ngbDropdownToggle>
            <span class="iconify fs-6 me-1" data-icon="openmoji:flag-united-states"></span>
            ENGLISH
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownLanguage" style="font-size: 11px;">
            <button ngbDropdownItem>
              <span class="iconify fs-6 me-1" data-icon="openmoji:flag-united-states"></span>
              ENGLISH
            </button>
            <button ngbDropdownItem>
              <span class="iconify fs-6 me-1" data-icon="openmoji:flag-indonesia"></span>
              INDONESIA
            </button>
          </div>
        </div>
      </div>
      <div class="header-text ms-auto pe-5">
        FREE RETURNS. STANDARD SHIPPING ORDERS $99+
      </div>
      <div class="menu d-flex justify-content-between align-items-center">
        <a class="menu-item px-3"> My Account </a>
        <a class="menu-item px-3"> Contact Us </a>
        <a class="menu-item px-3"> Whistlist </a>
        <a class="menu-item px-3"> Log In </a>
      </div>
      <div class="sosmed">
        <span class="iconify fs-6 mx-2" data-icon="jam:facebook"></span>
        <span class="iconify fs-6 mx-2" data-icon="jam:twitter"></span>
        <span class="iconify fs-6 mx-2" data-icon="jam:instagram"></span>
      </div>
    </div>
  </div>
</section>

<section class="header-menu">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center py-4">
      <div class="header-menu-left">
        <div class="input-group search-bar">
          <input type="text" class="form-control me-1" placeholder="Search..." aria-label="Pencarian" aria-describedby="search">
          <span class="input-group-text" id="search">
            <span class="iconify fs-6" data-icon="uiw:search"></span>
          </span>
        </div>
      </div>
      <div class="header-menu-center text-center">
        <img src="//porto-demo14.myshopify.com/cdn/shop/t/27/assets/logo_black_new.png?v=82644603109002165811640057195" width="101" alt="">
      </div>
      <div class="header-menu-right d-flex align-items-center">
        <div class="call d-flex align-items-center">
          <span class="iconify fs-2 me-2" data-icon="mynaui:telephone"></span>
          <div>
            <span class="fw-semibold text-secondary call-text">CALL US NOW</span>
            <p class="mb-0 fs-6 fw-bold">+62 5678 89011</p>
          </div>
        </div>
        <div class="interact ps-4">
          <span class="iconify fs-4 mx-3" data-icon="uiw:user"></span>
          <span class="iconify fs-4 mx-3" data-icon="uiw:heart-off"></span>
          <a href="javascript:void(0)" routerLink="/cart" class="text-dark">
            <span class="iconify fs-4 mx-3" data-icon="uiw:shopping-cart"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="header-nav">
  <nav class="navbar navbar-expand-lg py-0">
    <div class="container">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav fw-bold">
          <li class="nav-item mx-4">
            <a class="nav-link py-4 px-0 active" aria-current="page" href="javascript:void(0)" routerLink="/">HOME</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link py-4 px-0" href="javascript:void(0)" routerLink="/katalog">COLLECTIONS</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link py-4 px-0" href="javascript:void(0)" routerLink="/katalog">PRODUCTS</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link py-4 px-0" href="#">PAGES</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link py-4 px-0" href="#">FEATURES</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link py-4 px-0" href="#">SPECIAL OFFTER!</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
