.breadcrumb {
  a {
    text-decoration: none;
    color: #777;
  }
}

.img-preview {
  width: 100%;
  height: auto;
  aspect-ratio: 5/4;
}

.img-list {
  width: 100%;
  height: auto;
  aspect-ratio: 5/5;
}

.product-name {
  font-size: clamp(21px, 1.2vw, 80px);
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.variant {
  p {
    text-transform: capitalize;
  }
}

.stok-sisa{
  color: var(--YN600, #F36819);
}

.stok-tidak-ada {
  color: var(--RN500, #F94D63);
}

.wrap-slider {
    img {
        width: 100%;
        height: auto;
        aspect-ratio: 5/5;
    }
}

.wrap-image {
    img {
        width: 100%;
        height: auto;
        aspect-ratio: 5/5;
    }
}

.wrap-image img {
    transform-origin: 65% 75%;
    transition: transform .5s, filter .5s ease-out;
}

.wrap-image:hover img {
    transform: scale(1.1);
}

::ng-deep #banner-carousel-modal .carousel-control-prev-icon {
    background-color: black;
    padding: 0.5rem;
}

::ng-deep #banner-carousel-modal .carousel-control-next-icon {
    background-color: black;
    padding: 0.5rem;
}

::ng-deep #banner-carousel-modal .carousel-control-prev {
    width: 5%;
}
::ng-deep #banner-carousel-modal .carousel-control-next {
    width: 5%;
}

.products {
    .wrap-item {
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

        .wrap-image {
            overflow: hidden;
            width: 100%;
            height: auto;
            aspect-ratio: 4/4;
    
            img {
                width: 100%;
                height: auto;
                aspect-ratio: 4/4;
            }
    
            .btn {
                font-size: 12px;
                font-weight: bold;
                display: none;
                margin-top: -80px;
            }
        }

        .wrap-image img {
            transform-origin: 65% 75%;
            transition: transform .5s, filter .5s ease-out;
        }
        
        .wrap-image:hover img {
            transform: scale(1.1);
        }
    
        .product-name {
            font-size: clamp(21px, 1.2vw, 80px);
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
