<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4">
        <h1 class="fs-3 font-p mb-0">Profilku</h1>
    </div>
    <form>
        <div class="row">
            <div class="col-8 pe-5">
                <div class="mb-3">
                    <label for="name" class="mb-2 font-p fs-14">Nama <span class="text-danger">*</span></label>
                    <input type="text" class="form-control fs-14 py-2" id="name" [(ngModel)]="model.name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="mb-2 font-p fs-14">Nama pengguna <span class="text-danger">*</span></label>
                    <input type="username" class="form-control fs-14 py-2" id="username" [(ngModel)]="model.username" name="username" required>
                    <small class="text-grey font-p fs-12">Nama pengguna diharuskan unik dan tanpa spasi</small>
                </div>
                <div class="mb-3">
                    <label for="email" class="mb-2 font-p fs-14">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control fs-14 py-2" id="email" [(ngModel)]="model.email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="mb-2 font-p fs-14">Nomor telephone <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text font-p fs-14" id="phone_number"> +62 </span>
                        <input type="tel" class="form-control fs-14 py-2" id="phone_number" [(ngModel)]="model.phone_number" name="phone_number" required>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="password" class="mb-2 font-p fs-14">Kata sandi <span class="text-danger">*</span></label>
                    <input type="password" class="form-control fs-14 py-2" id="password" [(ngModel)]="model.password" name="password" required>
                    <small class="font-p fs-12 text-grey"><span class="text-danger">*</span>Kosongi jika tidak ingin diubah</small>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary font-p fs-14" (click)="save()">
                        <i class="bx bx-save me-1"></i>
                        Simpan
                    </button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center border-start px-4">
                    <div class="mx-auto mb-3">
                        <img *ngIf="!base64Image" [src]="model.photo" class="img-thumbnail rounded-circle object-fit-cover" style="width: 150px; height: 150px;" alt="">
                        <img *ngIf="!!base64Image" [src]="base64Image" class="img-thumbnail rounded-circle object-fit-cover" style="width: 150px; height: 150px;" alt="">
                    </div>
                    <label for="upload" class="btn btn-primary btn-sm mt-3 mb-2" tabindex="0">
                        <span class="d-none d-sm-block">Unggah Gambar</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                    </label> <br>
                    <span class="font-p fs-12">
                        Ukuran gambar: maks. 1 MB <br>
                        Format gambar: .JPEG, .PNG
                    </span>
                </div>
            </div>
        </div>

    </form>
</div>


