<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4">
        <h1 class="fs-3 font-p mb-0">My Profile</h1>
    </div>
    <form>
        <div class="row">
            <div class="col-8 pe-5">
                <div class="mb-3">
                    <label for="name" class="mb-2 font-p fs-14">Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control fs-14 py-2" id="name" name="name" required>
                    <small class="text-danger font-p fs-12"></small>
                </div>
                <div class="mb-3">
                    <label for="username" class="mb-2 font-p fs-14">Username <span class="text-danger">*</span></label>
                    <input type="username" class="form-control fs-14 py-2" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="mb-2 font-p fs-14">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control fs-14 py-2" id="email" name="email" required>
                    <small class="text-danger font-p fs-12"></small>
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="mb-2 font-p fs-14">Phone Number <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text font-p fs-14" id="phone_number"> +62 </span>
                        <input type="tel" class="form-control fs-14 py-2" id="phone_number" name="phone_number" required>
                    </div>
                    <small class="text-danger font-p fs-12"></small>
                </div>
                <div class="mb-4">
                    <label for="password" class="mb-2 font-p fs-14">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control fs-14 py-2" id="password" name="password" required>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary font-p fs-14">
                        <i class="bx bx-save me-1"></i>
                        Simpan
                    </button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center border-start px-4">
                    <div class="mx-auto mb-3">
                        <img src="https://cdn1-production-images-kly.akamaized.net/SyRFEsgZ-JJ1P2VoWven4KIp9H8=/1200x900/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/3220607/original/002220400_1598510794-9b3ee95069a9d94d80dfcdba43.jpg" class="img-thumbnail rounded-circle object-fit-cover" style="width: 150px; height: 150px;" alt="">
                    </div>
                    <button class="btn btn-primary btn-sm mt-3 mb-2">
                        Pilih Gambar
                    </button> <br>
                    <span class="font-p fs-12">
                        Ukuran gambar: maks. 1 MB <br>
                        Format gambar: .JPEG, .PNG
                    </span>
                </div>
            </div>
        </div>

    </form>
</div>


