<section class="breadcrumb mt-lg-5">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb fs-14">
                <li class="breadcrumb-item">
                    <a href="/home">
                        <i class="bx bx-home me-1"></i> Beranda
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/education">Edukasi</a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section class="loading-slider" *ngIf="loading.slider">
    <div class="bg-grey" style="height: 480px;"></div>
</section>

<section id="banner-carousel mt-5" *ngIf="!loading.slider">
    <div class="container">
        <div class="row">
            <div class="col">
                <ngb-carousel [showNavigationIndicators]="false">
                    <ng-template *ngFor="let item of listSlider; index as i" ngbSlide>
                        <div class="picsum-img-wrapper px-1">
                            <img [src]="item.gambar" class="w-100 object-fit-cover rounded-4" height="480" alt="Random first slide" (click)="sliderClick(item.url)" />
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</section>

<div class="container mt-4">
    <!-- Kategori -->
    <div class="row">
        <div class="col-12">
            <h1 class="fs-4 fw-bold font-m">Kategori</h1>
        </div>
        <div class="col py-2">
            <button *ngFor="let item of listKategori" class="btn btn-primary btn-sm font-m fw-semibold me-2">{{ item.kategori }}</button>
            <button class="btn btn-outline-primary btn-sm font-m fw-semibold me-2">Photoshop</button>
        </div>
    </div>

    <!-- List Edukasi -->
    <div class="row justify-content-center my-5">
        <div class="col-10 col-sm-6 col-md-4 col-lg-3 px-4 px-sm-2 mb-3" *ngFor="let item of listEdukasi">
            <a href="javascript:void(0);" routerLink="/education/{{ item.slug }}">
                <div class="wrap-item h-100 rounded-4 overflow-hidden">
                    <div class="head-item overflow-hidden">
                        <img [src]="item.gambar" class="object-fit-cover w-100 rounded-top-4" width="280" height="200" alt="Random second slide" />
                    </div>
                    <div class="body-item p-3">
                        <p class="font-m fw-bold fs-14">{{ item.judul }}</p>
                        <span class="font-p">Rp {{ item.harga | number }}</span>
                        <div class="rating">
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star-half text-warning"></i>
                            <i class="bx bx-star text-warning"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<app-foot-menu class="d-block d-lg-none"></app-foot-menu>
<app-footer class="d-none d-lg-block"></app-footer>