<section style="background-color: #FBFBFB;">
    <div class="d-flex justify-content-center justify-content-xl-end">
        <div class="wrap-form w-lg-50 row align-items-end justify-content-center">
            <div class="col-lg-8">
                <div class="container-fluid">
                    <h2 class="font-p fw-bold fs-2 mb-5 font-p text-center">Login</h2>
                    <form (ngSubmit)="login()">
                        <div class="mb-3">
                            <div class="text-danger fade show font-p" *ngIf="isError">
                                {{ isPesan }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="mb-2 font-p fs-14">Email</label>
                            <input type="email" class="form-control font-p fs-14 py-2" [(ngModel)]="model.email" name="email" id="email" aria-describedby="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="mb-2 font-p fs-14">Password</label>
                            <input type="password" class="form-control font-p fs-14 py-2" [(ngModel)]="model.password" name="password" id="password" aria-describedby="password">
                        </div>

                        <button class="btn btn-primary font-p fs-14 w-100 py-3 my-3" (click)="login()">Masuk</button>
                        <div id="g_id_onload"
                            data-client_id="1076513397291-ic5p0c2ohngbn3fa0159d2tej9s6qkco.apps.googleusercontent.com"
                            data-context="use" data-ux_mode="redirect"
                            data-login_uri="https://jakartacamera.moodstudio.id/" data-auto_prompt="false"></div>

                        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="continue_with" data-size="large" data-logo_alignment="left">
                        </div>
                    </form>
                </div>

                <div class="row justify-content-end mt-3">
                    <div class="col-6 text-end">
                        <a href="/auth/forgot-password" class="fs-14 fw-semibold font-p text-primary">Lupa Password?</a>
                    </div>
                </div>
            </div>
            <p class="text-center font-m fs-14 fw-bold mt-5">
                <span>Tidak punya akun Jakarta Camera? </span>
                <a href="/register" class="text-primary">Daftar Sekarang</a>
            </p>
        </div>
        <div class="background w-50 d-none d-xl-flex align-items-center">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <!-- <img src="../../../assets/img/undraw/login.svg" alt="login" width="600"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

<ng-template #modalGoogle let-modal>

    <div class="modal-header">
        <div class="d-flex justify-content-between">
            <div class="font-m fs-5 fw-bolder px-3">Login Google</div>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
    </div>
    <div class="modal-body">
        <iframe src="http://localhost:8000/google/redirect" width="100%" height="100%">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
</ng-template>