<section style="background-color: #FBFBFB;">
  <div class="d-flex justify-content-center justify-content-xl-end">
    <div class="wrap-form w-lg-50 row align-items-end justify-content-center">
      <div class="col-lg-8">
        <div class="container-fluid">
          <h2 class="font-p fw-bold fs-2 mb-5 font-p text-center">Login</h2>
          <form (ngSubmit)="login()">
            <div class="mb-3">
              <div class="text-danger fade show font-p" *ngIf="isError">
                {{ isPesan }}
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="mb-2 font-p fs-14">Email</label>
              <input type="email" class="form-control font-p fs-14 py-2" [(ngModel)]="model.email" name="email"
                id="email" aria-describedby="email">
            </div>
            <div class="mb-3">
              <label for="password" class="mb-2 font-p fs-14">Password</label>
              <input type="password" class="form-control font-p fs-14 py-2" [(ngModel)]="model.password" name="password"
                id="password" aria-describedby="password">
            </div>

            <button class="btn btn-primary font-p fs-14 w-100 py-3 mt-3" (click)="login()">Masuk</button>
            <div id="g_id_onload"
              data-client_id="1076513397291-ic5p0c2ohngbn3fa0159d2tej9s6qkco.apps.googleusercontent.com"
              data-context="use" data-ux_mode="redirect" data-login_uri="https://jakartacamera.moodstudio.id/"
              data-auto_prompt="false">
            </div>
            <!-- <button class="btn btn-danger font-p fs-14 w-100 py-3 mt-3" (click)="google()"><i class='bx bxl-google'></i>Google</button> -->
            <div class="row justify-content-end mt-3">
              <div class="col-6 text-end">
                <a href="javacript:void()" class="fs-14 fw-bold font-m text-primary">Lupa Password?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <p class="text-center font-m fs-14 fw-bold mt-5">
        <span>Tidak punya akun Jakarta Camera? </span>
        <a href="/register" class="text-primary">Daftar Sekarang</a>
      </p>
    </div>
    <div class="background w-50 d-none d-xl-flex align-items-center">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-6">
            <!-- <img src="../../../assets/img/undraw/login.svg" alt="login" width="600"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
