<div class="reset-password container">
    <div class="row justify-content-center mb-5">
        <div class="col-lg-8">
            <div class="alert alert-success" role="alert">
                <div class="d-flex justify-content-evenly align-items-center">
                    <div class="pe-3 text-success">
                        <i class="bx bx-check-shield bx-lg"></i>
                    </div>
                    <div>
                        <h4 class="alert-heading fs-6">Sukses!</h4>
                        <p class="fs-14 mb-0">Kata sandi Anda telah berhasil direset. Anda sekarang dapat masuk dengan kata sandi baru Anda.</p>
                        <hr>
                        <p class="fs-14 mb-0"><a href="/login">Klik disini untuk melakukan login.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-lg-5 mb-5 mb-lg-0 d-none d-lg-block">
            <div class="text-center">
                <div class="wrap">
                    <img src="../../../assets/img/undraw/secure.svg" alt="login" width="250">
                </div>
                <h2 class="fs-6 font-m mt-4">
                    Anda dapat mereset kata sandi Anda dengan mengisi formulir.
                    Silakan masukkan kata sandi baru Anda dan konfirmasi kata sandi tersebut untuk menyelesaikan proses reset. 
                    Pastikan kata sandi baru Anda kuat dan sulit ditebak oleh orang lain untuk menjaga keamanan akun Anda.
                </h2>
            </div>
        </div>
        <div class="col-lg-5 font-m">
            <h1 class="fs-3 font-m fw-bolder mb-5">Reset Kata Sandi</h1>
            <div class="d-flex align-items-center">
                <fieldset class="w-100"> 
                    <div class="mb-3">
                        <label for="password" class="mb-2">Kata Sandi</label>
                        <input type="password" class="form-control" placeholder="Masukkan kata sandi baru" [(ngModel)]="model.password" name="password" (input)="checkPasswordStrength()">
                        <small class="fs-12 fw-semibold" *ngIf="passwordStrengthMessage"> 
                            Kekuatan kata sandi: 
                            <span [ngClass]="{'text-danger': passwordStrength == 'weak', 'text-warning': passwordStrength == 'medium', 'text-success': passwordStrength == 'strong'}">
                                {{ passwordStrengthMessage }}
                            </span>
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="mb-2">Konfirmasi Kata Sandi</label>
                        <input type="password" class="form-control" placeholder="Masukkan ulang kata sandi" [(ngModel)]="model.password_confirmation" name="password_confirmation">
                    </div>
                    <button class="btn btn-primary w-100" (click)="postResetPassword()">
                        Reset Ulang
                    </button>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

