<section style="background-color: #FBFBFB;">
    <div class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <img src="../../../assets/img/undraw/email-send.svg" alt="login" width="250">
                <h1 class="fs-3 font-m fw-bolder mt-3">Harap verifikasi email Anda</h1>
                <h2 class="fs-6 font-m mt-4">Kamu hampir sampai! kami mengirimkan verifikasi ke email</h2>
                <p class="fs-5 font-m fw-bolder">sgalih1234@gmail.com</p>

                <p class="fs-6 font-m mt-5">Cukup klik tautan di email yang kami kirimkan untuk menyelesaikan pendaftaran Anda. Jika Anda tidak melihatnya, Anda mungkin perlu <b>memeriksa folder spam</b> Anda</p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

