<section class="breadcrumb mt-lg-5">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb fs-14">
                <li class="breadcrumb-item">
                    <a href="/home">
                        <i class="bx bx-home me-1"></i> Beranda
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/education">Edukasi</a>
                </li>
                <li class="breadcrumb-item active fw-semibold">
                    <a href="/education">Make Attractive UI Design with Simple Micro Interaction</a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<div class="container mt-4">
    <h1 class="fs-2 font-p fw-bolder">Make Attractive UI Design with Simple Micro Interaction</h1>
    <div class="row mt-5 pb-5">
        <div class="col-8">
            <img src="https://miro.medium.com/v2/resize:fit:1011/1*CiC4C7bodsoTkLq_ap2SHg.png" class="object-fit-cover rounded-4 w-100 h-auto" width="280" height="200" alt="Random second slide" />
        </div>
        <div class="col-4">
            <div class="bg-secondary rounded-top-4 p-4">
                <div class="mb-3">
                    <a href="javascript:void(0)" (click)="openModal(modalVideo)">
                        <div class="px-3 py-2 d-flex justify-content-between align-items-center bg-white rounded-5">
                            <div class=" d-flex align-items-center">
                                <i class='bx bx-play-circle fs-3 me-2'></i>
                                <span class="font-p">Pengenalan</span>
                            </div>
                            <span>3 mins</span>
                        </div>
                    </a>
                </div>
                <div class="mb-3">
                    <a href="javascript:void(0)" (click)="alertSubscribe()">
                        <div class="px-3 py-2 d-flex justify-content-between align-items-center bg-white rounded-5">
                            <div class=" d-flex align-items-center">
                                <i class='bx bx-play-circle fs-3 me-2'></i>
                                <span class="font-p">Praktek</span>
                            </div>
                            <i class='bx bxs-lock fs-5 me-2'></i>
                        </div>
                    </a>
                </div>
                <div class="mb-3">
                    <a href="javascript:void(0)" (click)="alertSubscribe()">
                        <div class="px-3 py-2 d-flex justify-content-between align-items-center bg-white rounded-5">
                            <div class=" d-flex align-items-center">
                                <i class='bx bx-play-circle fs-3 me-2'></i>
                                <span class="font-p">Penutupan</span>
                            </div>
                            <i class='bx bxs-lock fs-5 me-2'></i>
                        </div>
                    </a>
                </div>
            </div>
            <button class="btn btn-primary w-100 rounded-bottom-4 rounded-top-0 font-m py-3 fs-5 fw-semibold" (click)="openModalSubscribe(modalSubscribe)">
                Berlangganan
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary fs-6 font-p rounded-5 px-4 py-2 me-3">Deskripsi</button>
            <button class="btn btn-outline-primary fs-6 font-p rounded-5 px-4 py-2 me-3">Peralatan</button>
            <button class="btn btn-outline-primary fs-6 font-p rounded-5 px-4 py-2 me-3">Ulasan</button>
        </div>
        <div class="col-12 my-3 p-4">
            <h2 class="fs-3 fw-bold font-m mb-4">Deskripsi</h2>
            <div class="font-p fs-6">
                <p>
                    Apakah Anda ingin membuat desain UI yang menarik dan intuitif? Dalam video ini, kami akan membahas cara menciptakan 
                    desain antarmuka pengguna (UI) yang menawan dengan memanfaatkan interaksi mikro yang sederhana. Interaksi mikro 
                    adalah elemen kecil namun berdampak besar yang dapat meningkatkan pengalaman pengguna secara signifikan. <br> <br>
                    Kami akan menjelaskan:
                </p>
    
                <ul>
                    <li>Apa itu interaksi mikro dan mengapa mereka penting.</li>
                    <li>Contoh-contoh interaksi mikro yang efektif.</li>
                    <li>Cara menerapkan interaksi mikro dalam desain UI Anda.</li>
                    <li>Tips dan trik untuk membuat desain UI Anda lebih menarik dan user-friendly.</li>
                </ul>
    
                <p>Dengan mengikuti panduan ini, Anda akan dapat menciptakan pengalaman pengguna yang lebih menyenangkan dan interaktif, 
                    sehingga membuat aplikasi atau situs web Anda lebih menarik bagi pengguna. Jangan lupa untuk like, share, dan subscribe 
                    untuk mendapatkan tips desain UI/UX terbaru!
                </p>

                <p>#UIDesign #MicroInteractions #UXDesign #DesainUI #InteraksiMikro #DesainAntarmuka #TipsDesain #UserExperience</p>
            </div>
        </div>
    </div>
    <!-- List Edukasi -->
    <div class="row py-3 mb-5">
        <div class="col-12 mb-4">
            <i class='bx bx-movie-play fs-5 me-2'></i>
            <span class="fs-5 font-p fw-semibold">Rekomendasi Edukasi</span>
        </div>
        <div class="col-3 mb-3">
            <a href="">
                <div class="wrap-item h-100 rounded-4 overflow-hidden">
                    <div class="head-item overflow-hidden">
                        <img src="https://miro.medium.com/v2/resize:fit:1011/1*CiC4C7bodsoTkLq_ap2SHg.png" class="object-fit-cover rounded-top-4" width="280" height="200" alt="Random second slide" />
                    </div>
                    <div class="body-item p-3">
                        <p class="font-m fw-bold fs-6">Make Attractive UI Design with Simple Micro Interaction</p>
                        <span class="font-p">Rp 100.000</span>
                        <div class="rating">
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star-half text-warning"></i>
                            <i class="bx bx-star text-warning"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 mb-3">
            <div class="wrap-item h-100 rounded-4 overflow-hidden">
                <div class="head-item overflow-hidden">
                    <img src="https://miro.medium.com/v2/resize:fit:1200/1*bl0mLTGKrUfdIPS0hSKUBA.jpeg" class="object-fit-cover rounded-top-4" width="280" height="200" alt="Random second slide" />
                </div>
                <div class="body-item p-3">
                    <p class="font-m fw-bold fs-6">Mastering Figma: Modern UI Dashboard Design</p>
                    <span class="font-p">Rp 100.000</span>
                    <div class="rating">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star-half text-warning"></i>
                        <i class="bx bx-star text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="wrap-item h-100 rounded-4 overflow-hidden">
                <div class="head-item overflow-hidden">
                    <img src="https://help.figma.com/hc/article_attachments/18924884984727" class="object-fit-cover rounded-top-4" width="280" height="200" alt="Random second slide" />
                </div>
                <div class="body-item p-3">
                    <p class="font-m fw-bold fs-6">UI Design: Wireframe to Visual Design</p>
                    <span class="font-p">Rp 100.000</span>
                    <div class="rating">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star-half text-warning"></i>
                        <i class="bx bx-star text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="wrap-item h-100 rounded-4 overflow-hidden">
                <div class="head-item overflow-hidden">
                    <img src="https://play-lh.googleusercontent.com/KMK77z5MXYgJiNzI2nPD8EyXQtz4-G73hj3LfJZamcPRD6VLlevK-cbQ8arRlJIZclk=w526-h296-rw" class="object-fit-cover rounded-top-4" width="280" height="200" alt="Random second slide" />
                </div>
                <div class="body-item p-3">
                    <p class="font-m fw-bold fs-6">Learn Icon Pack Design with Figma</p>
                    <span class="font-p">Rp 100.000</span>
                    <div class="rating">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star-half text-warning"></i>
                        <i class="bx bx-star text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-foot-menu class="d-block d-lg-none"></app-foot-menu>
<app-footer class="d-none d-lg-block"></app-footer>

<ng-template #modalVideo let-modal>
    <div class="modal-header">
        <div class="font-m fs-5 fw-bolder px-3">Make Attractive UI Design with Simple Micro Interaction</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid pb-4">
            <div class="row">
                <div class="col-12">
                    <iframe [src]="urlSafe" frameborder="0" class="w-100 h-auto rounded-4" style="aspect-ratio: 5/3;"></iframe>
                </div>
                <div class="col-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://img.youtube.com/vi/sVNFrxLW2pA/default.jpg" alt="sVNFrxLW2pA" class="object-fit-cover rounded-3 me-2" width="80" height="50">
                                    <i class='bx bx-play-circle fs-4 me-2'></i>
                                    <span class="font-p fs-14 fw-bold">Make Attractive UI Design with Simple Micro Interaction</span>
                                </div>
                                <span class="font-p fs-14">10:16</span>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://img.youtube.com/vi/ePRf2VrKuj8/default.jpg" alt="ePRf2VrKuj8" class="object-fit-cover rounded-3 me-2" width="80" height="50">
                                    <span class="font-p fs-14">Belajar Laravel 11 / 1 Setup Laravel</span>
                                </div>
                                <span class="font-p fs-14">10:16</span>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://img.youtube.com/vi/ayErMS6A4bk/default.jpg" alt="ayErMS6A4bk" class="object-fit-cover rounded-3 me-2" width="80" height="50">
                                    <span class="font-p fs-14">Belajar Laravel 11 / 3 Styling</span>
                                </div>
                                <span class="font-p fs-14">10:16</span>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://img.youtube.com/vi/_PTxDnSG6rY/default.jpg" alt="_PTxDnSG6rY" class="object-fit-cover rounded-3 me-2" width="80" height="50">
                                    <span class="font-p fs-14">Belajar Laravel 11 / 4 Active State</span>
                                </div>
                                <span class="font-p fs-14">10:16</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalSubscribe let-modal>
    <div class="modal-body rounded-5">
        <div class="d-flex justify-content-between mb-5">
            <div class="font-p fs-4 fw-semibold px-3 mt-3">Benefit Berlangganan</div>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="container-fluid pb-5">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="wrap-subs h-100 rounded-5 p-4">
                        <p class="fs-6 font-m fw-semibold">1 Bulan</p>
                        <p class="fs-4 fw-bold font-p">Rp 550,000</p>
                        <p class="fs-6 font-m">Miliki kelas Premium secara permanen dan bangun sebuah projek nyata</p>
                        <hr>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Akses kelas selamanya</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Premium rewards</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Career consultation</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Assets & group konsultasi</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Sertifikat kelulusan</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Free update materi selama 3 bulan</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Free akses kelas Freemium</span>
                        </div>

                        <button class="btn btn-primary rounded-4 font-p fw-semibold fs-14 w-100 py-2 mt-auto">
                            Berlangganan
                        </button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="wrap-subs h-100 rounded-5 p-4">
                        <p class="fs-6 font-m fw-semibold">3 Bulan</p>
                        <p class="fs-4 fw-bold font-p">Rp 1,000,000</p>
                        <p class="fs-6 font-m">Miliki kelas Premium secara permanen dan bangun sebuah projek nyata</p>
                        <hr>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Akses kelas selamanya</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Premium rewards</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Career consultation</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Assets & group konsultasi</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Sertifikat kelulusan</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Free update materi selama 3 bulan</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Free akses kelas Freemium</span>
                        </div>

                        <button class="btn btn-primary rounded-4 font-p fw-semibold fs-14 w-100 py-2">
                            Berlangganan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>