.wrap-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .head-item img {
        transform-origin: 65% 75%;
        transition: transform .5s, filter .5s ease-out;
    }
    
    .head-item:hover img {
        transform: scale(1.1);
    }
}

.wrap-subs {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}