<section class="breadcrumb mt-lg-5">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb fs-14">
                <li class="breadcrumb-item">
                    <a href="/home">
                        <i class="bx bx-home me-1"></i> Beranda
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/education">Edukasi</a>
                </li>
                <li class="breadcrumb-item active fw-semibold">
                    <a href="/education">{{ model.judul }}</a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<div class="container mt-4">
    <h1 class="fs-2 font-p fw-bolder">{{ model.judul }}</h1>
    <div class="row mt-5 mb-4">
        <div class="col-8">
            <div class="position-relative" *ngIf="!play">
                <img src="https://miro.medium.com/v2/resize:fit:1011/1*CiC4C7bodsoTkLq_ap2SHg.png" class="object-fit-cover rounded-4 w-100 h-auto opacity-75" style="aspect-ratio: 5/2.7;" width="280" height="200" alt="Random second slide" />
                <button class="btn btn-primary rounded-circle position-absolute top-50 start-50 translate-middle" style="width: 70px; height: 70px;" (click)="play=true">
                    <i class='bx bx-play bx-lg'></i>
                </button>
            </div>
            <div class="video" *ngIf="!!play">
                <iframe [src]="urlSafe" frameborder="0" class="w-100 h-auto rounded-4" style="aspect-ratio: 5/2.7;"></iframe>
            </div>
            <div class="detail p-3">
                <div class="harga">
                    <span class="fs-2 font-p fw-bold me-2">Rp 150.000</span> <span class="font-p text-grey text-decoration-line-through">Rp 300.000</span>
                </div>
                <div class="rating mt-2 text-warning">
                    <i class='bx bxs-star bx-sm'></i>
                    <i class='bx bxs-star bx-sm'></i>
                    <i class='bx bxs-star bx-sm'></i>
                    <i class='bx bxs-star-half bx-sm'></i>
                    <i class='bx bx-star bx-sm'></i>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-secondary rounded-top-4 p-4">
                <div class="mb-3" *ngFor="let item of detail">
                    <a href="javascript:void(0)" (click)="openModal(modalVideo, item.is_lock)">
                        <div class="px-3 py-2 d-flex justify-content-between align-items-center bg-white rounded-5">
                            <div class=" d-flex align-items-center">
                                <i class='bx bx-play-circle fs-3 me-2'></i>
                                <span class="font-p">{{ item.title }}</span>
                            </div>
                            <i class='bx bxs-lock fs-5 me-2' *ngIf="item.is_lock == 1"></i>
                        </div>
                    </a>
                </div>
            </div>
            <button class="btn btn-primary w-100 rounded-bottom-4 rounded-top-0 font-m py-3 fs-5 fw-semibold" (click)="openModalSubscribe(modalSubscribe)">
                Berlangganan
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="btn fs-6 font-p rounded-5 px-4 py-2 me-3" [ngClass]="activeTab == 'deskripsi' ? 'btn-primary' : 'btn-outline-primary'" (click)="activeTab = 'deskripsi'">Deskripsi</a>
            <a class="btn fs-6 font-p rounded-5 px-4 py-2 me-3" [ngClass]="activeTab == 'ulasan' ? 'btn-primary' : 'btn-outline-primary'" (click)="activeTab = 'ulasan'">Ulasan</a>
        </div>

        <div class="col-12 my-3 p-4">
            <div class="desc mb-5" *ngIf="activeTab == 'deskripsi'">
                <h2 class="fs-3 fw-bold font-m mb-4">Deskripsi</h2>
                <div class="font-p fs-14 p-2" [innerHtml]="model.deskripsi"></div>
            </div>
            <div class="ulasan" *ngIf="activeTab == 'ulasan'">
                <h2 class="fs-3 fw-bold font-m mb-4">Ulasan</h2>
                <div class="reviews">
                    <div class="row mb-3">
                        <div class="col-2 col-xl-1">
                            <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" class="object-fit-cover w-100" alt="">
                        </div>
                        <div class="col-10 col-xl-11 bg-body-tertiary rounded-end-4 rounded-bottom-4 py-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="detail">
                                    <span class="fw-bold fs-6 font-m">Galih - </span> <span class="font-m fs-14">Galih on Jun 19, 2024</span>
                                </div>
                                <div class="rating text-warning">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                            </div>
                            <p class="mt-3 fs-14 font-m px-2">
                                Saya ingin menyampaikan apresiasi saya yang tulus atas edukasi ini. Penulisannya sangat informatif dan detail, menunjukkan pemahaman mendalam terhadap topik yang dibahas. Setiap poin dijelaskan dengan
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2 col-xl-1">
                            <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" class="object-fit-cover w-100" alt="">
                        </div>
                        <div class="col-10 col-xl-11 bg-body-tertiary rounded-end-4 rounded-bottom-4 py-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="detail">
                                    <span class="fw-bold fs-6 font-m">Hoggy - </span> <span class="font-m fs-14">Hoggy on Jun 19, 2024</span>
                                </div>
                                <div class="rating text-warning">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                </div>
                            </div>
                            <p class="mt-3 fs-14 font-m px-2">
                                Konten edukasi yang disajikan sangat informatif dan bermanfaat. Setiap materi disusun dengan baik dan mudah dipahami, 
                                membuat proses belajar menjadi lebih menyenangkan dan efektif. Penggunaan contoh-contoh nyata serta penjelasan yang 
                                mendetail membantu memperjelas konsep-konsep yang disampaikan. Selain itu, kualitas produksi dan presentasi konten ini 
                                juga patut diacungi jempol, sehingga mempermudah pemahaman dan meningkatkan minat belajar. Konten ini sangat direkomendasikan 
                                bagi siapa saja yang ingin memperluas pengetahuan dan keterampilan mereka.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List Edukasi -->
    <div class="row py-3 mb-5">
        <div class="col-12 mb-4">
            <i class='bx bx-movie-play fs-5 me-2'></i>
            <span class="fs-5 font-p fw-semibold">Rekomendasi Edukasi</span>
        </div>
        <div class="col-3 mb-3">
            <a href="">
                <div class="wrap-item h-100 rounded-4 overflow-hidden">
                    <div class="head-item overflow-hidden">
                        <img src="https://miro.medium.com/v2/resize:fit:1011/1*CiC4C7bodsoTkLq_ap2SHg.png" class="object-fit-cover rounded-top-4" width="280" height="200" alt="Random second slide" />
                    </div>
                    <div class="body-item p-3">
                        <p class="font-m fw-bold fs-6">Make Attractive UI Design with Simple Micro Interaction</p>
                        <span class="font-p">Rp 100.000</span>
                        <div class="rating">
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star text-warning"></i>
                            <i class="bx bxs-star-half text-warning"></i>
                            <i class="bx bx-star text-warning"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3 mb-3">
            <div class="wrap-item h-100 rounded-4 overflow-hidden">
                <div class="head-item overflow-hidden">
                    <img src="https://miro.medium.com/v2/resize:fit:1200/1*bl0mLTGKrUfdIPS0hSKUBA.jpeg"
                        class="object-fit-cover rounded-top-4" width="280" height="200" alt="Random second slide" />
                </div>
                <div class="body-item p-3">
                    <p class="font-m fw-bold fs-6">Mastering Figma: Modern UI Dashboard Design</p>
                    <span class="font-p">Rp 100.000</span>
                    <div class="rating">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star-half text-warning"></i>
                        <i class="bx bx-star text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="wrap-item h-100 rounded-4 overflow-hidden">
                <div class="head-item overflow-hidden">
                    <img src="https://help.figma.com/hc/article_attachments/18924884984727"
                        class="object-fit-cover rounded-top-4" width="280" height="200" alt="Random second slide" />
                </div>
                <div class="body-item p-3">
                    <p class="font-m fw-bold fs-6">UI Design: Wireframe to Visual Design</p>
                    <span class="font-p">Rp 100.000</span>
                    <div class="rating">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star-half text-warning"></i>
                        <i class="bx bx-star text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mb-3">
            <div class="wrap-item h-100 rounded-4 overflow-hidden">
                <div class="head-item overflow-hidden">
                    <img src="https://play-lh.googleusercontent.com/KMK77z5MXYgJiNzI2nPD8EyXQtz4-G73hj3LfJZamcPRD6VLlevK-cbQ8arRlJIZclk=w526-h296-rw"
                        class="object-fit-cover rounded-top-4" width="280" height="200" alt="Random second slide" />
                </div>
                <div class="body-item p-3">
                    <p class="font-m fw-bold fs-6">Learn Icon Pack Design with Figma</p>
                    <span class="font-p">Rp 100.000</span>
                    <div class="rating">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star-half text-warning"></i>
                        <i class="bx bx-star text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-foot-menu class="d-block d-lg-none"></app-foot-menu>
<app-footer class="d-none d-lg-block"></app-footer>

<ng-template #modalVideo let-modal>
    <div class="modal-header">
        <div class="font-m fs-5 fw-bolder px-3">Make Attractive UI Design with Simple Micro Interaction</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid pb-4">
            <div class="row">
                <div class="col-12">
                    <iframe [src]="urlSafe" frameborder="0" class="w-100 h-auto rounded-4" style="aspect-ratio: 5/3;"></iframe>
                </div>
                <div class="col-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://img.youtube.com/vi/sVNFrxLW2pA/default.jpg" alt="sVNFrxLW2pA" class="object-fit-cover rounded-3 me-2" width="80" height="50">
                                    <i class='bx bx-play-circle fs-4 me-2'></i>
                                    <span class="font-p fs-14 fw-bold">Make Attractive UI Design with Simple Micro Interaction</span>
                                </div>
                                <span class="font-p fs-14">10:16</span>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://img.youtube.com/vi/ePRf2VrKuj8/default.jpg" alt="ePRf2VrKuj8" class="object-fit-cover rounded-3 me-2" width="80" height="50">
                                    <span class="font-p fs-14">Belajar Laravel 11 / 1 Setup Laravel</span>
                                </div>
                                <span class="font-p fs-14">10:16</span>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://img.youtube.com/vi/ayErMS6A4bk/default.jpg" alt="ayErMS6A4bk"
                                        class="object-fit-cover rounded-3 me-2" width="80" height="50">
                                    <span class="font-p fs-14">Belajar Laravel 11 / 3 Styling</span>
                                </div>
                                <span class="font-p fs-14">10:16</span>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://img.youtube.com/vi/_PTxDnSG6rY/default.jpg" alt="_PTxDnSG6rY"
                                        class="object-fit-cover rounded-3 me-2" width="80" height="50">
                                    <span class="font-p fs-14">Belajar Laravel 11 / 4 Active State</span>
                                </div>
                                <span class="font-p fs-14">10:16</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalSubscribe let-modal>
    <div class="modal-body rounded-5">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="text-center">
            <div class="font-p fs-4 fw-bold px-3 mt-3">Benefit</div>
            <p class="font-m fs-14 px-4">Investasi pada diri sendiri adalah pilihan dengan risiko rendah namun memberikan hasil yang tinggi, yang memberikan leverage kuat untuk masa depan karier kita.</p>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="wrap-subs rounded-5 p-4">
                        <!-- <p class="fs-6 font-m fw-semibold">1 Bulan</p> -->
                        <p class="fs-4 fw-bold font-p">Rp 550,000</p>
                        <p class="fs-6 font-m">Miliki kelas Premium secara permanen dan bangun sebuah projek nyata</p>
                        <hr>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Akses kelas selamanya</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Premium rewards</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Career consultation</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Assets & group konsultasi</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Sertifikat kelulusan</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Free update materi selama 3 bulan</span>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <i class='bx bx-check-circle text-success me-2'></i>
                            <span class="fs-6 font-m">Free akses kelas Freemium</span>
                        </div>
                    </div>
                    <a href="/education/checkout" class="btn btn-primary rounded-4 font-p fw-semibold fs-14 w-100 py-2 my-4">
                        Berlangganan
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>