<!-- <section class="view-sale bg-body-tertiary py-lg-4">
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-4 text-center">
				<h2 class="fw-bolder font-p mb-3">JASA PASANG <br> CCTV</h2>
			</div>
		</div>
	</div>
</section> -->

<div class="banner py-lg-4 d-none d-lg-block">
	<div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="container position-relative">
                    <div class="circle">
                        <img src="../../../assets/img/background/cctv.png" alt="Cctv">
                    </div>
                </div>
            </div>
            <div class="col-6 font-m px-5">
                <h1 class="fw-bolder text-white" style="font-size: 58px; margin-top: 200px;">Pantau Setiap Sudut, <br> Tenang Setiap Saat</h1>
                <p class="fw-bolder text-white mt-3 fs-4">*Jasa Pasang CCTV</p>
                <p class="text-white mt-3 fs-5 pe-5">
                    Dengan layanan kami, Anda tidak perlu khawatir akan  <br>
                    keamanan properti Anda. Kami menyediakan solusi CCTV <br>
                    lengkap, mulai dari konsultasi, pemasangan, hingga perawatan <br>
                    rutin. Sistem kami memungkinkan Anda untuk memantau setiap <br>
                    sudut properti dengan mudah dan memberikan perlindungan <br>
                    yang Anda butuhkan untuk menjalani hari tanpa cemas.
                </p>
            </div>
        </div>
    </div>
</div>

<section class="content-login py-5">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="fs-4 fw-semibold font-p text-grey">Kamera anda bermasalah ?</h1>
                <h2 class="fs-3 fw-bold font-p">Perbaikan Kamera, Sempurnakan <br> Kenangan</h2>
                <p class="text-grey font-p">Informasikan Kendala Anda dan Dapatkan Diskon Sebesar Rp 50.000 Untuk Biaya Servis Kamera*Dengan cara submit form dibawah ini :</p>

                <form (ngSubmit)="kirim()">
                    <div class="mb-3">
                        <label for="nama" class="text-grey mb-2 fs-14">Nama <span class="text-danger">*</span></label>
                        <input type="text" class="form-control py-2" id="nama" [(ngModel)]="model.nama" name="nama" aria-describedby="nama" required>
                        <small class="text-danger font-p fs-12" *ngIf="error.nama">{{ error.nama }}</small>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="text-grey mb-2 fs-14">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control py-2" id="email" [(ngModel)]="model.email" name="email" aria-describedby="email" required>
                        <small class="text-danger font-p fs-12" *ngIf="error.email">{{ error.email }}</small>
                    </div>
                    <div class="mb-3">
                        <label for="phone_number" class="text-grey mb-2 fs-14">Nomor Telepon <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text rounded-0" id="basic-addon1"> +62 </span>
                            <input type="tel" class="form-control py-2" id="phone_number" [(ngModel)]="model.phone_number" name="p\hone_number" aria-describedby="last_name" required>
                        </div>
                        <small class="text-danger font-p fs-12" *ngIf="error.phone_number">{{ error.phone_number }}</small>
                    </div>
                    <div class="mb-3">
                        <label for="pesan" class="text-grey mb-2 fs-14">Pesan <span class="text-danger">*</span></label>
                        <textarea type="pesan" class="form-control py-2" id="pesan" [(ngModel)]="model.pesan" name="pesan" rows="3" required></textarea>
                        <small class="text-danger font-p fs-12" *ngIf="error.pesan">{{ error.pesan }}</small>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="province_id" class="form-label font-p fs-14">Provinsi</label>
                                <select class="form-select" name="province_id" [(ngModel)]="model.province_id" id="province_id"  aria-describedby="provinceHelp" (change)="getCity(model.province_id); resetProvince();">
                                    <ng-container *ngFor="let item of listProvince">
                                        <option [value]="item.id"> {{ item.provinsi }} </option>
                                    </ng-container>
                                </select>
                                <small class="text-danger font-p fs-12" *ngIf="error.province_id">{{ error.province_id }}</small>
                                <div id="provinceHelp" class="form-text">Isi dengan nama provinsi tempat tinggal anda.</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="city_id" class="form-label font-p fs-14">Kota</label>
                                <select class="form-select" name="city_id" [(ngModel)]="model.city_id" id="city_id"  aria-describedby="cityHelp" [disabled]="!model.province_id" (change)="getSubdistrict(model.city_id); resetCity();">
                                    <ng-container *ngFor="let item of listCity">
                                        <option [value]="item.id"> {{ item.kota }} </option>
                                    </ng-container>
                                </select>
                                <small class="text-danger font-p fs-12" *ngIf="error.city_id">{{ error.city_id }}</small>
                                <div id="cityHelp" class="form-text">Isi dengan nama kota tempat tinggal anda.</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="subdistrict_id" class="form-label font-p fs-14">Kecamatan</label>
                                <select class="form-select" name="subdistrict_id" [(ngModel)]="model.subdistrict_id" id="subdistrict_id"  aria-describedby="subdistrictHelp" [disabled]="!model.city_id" (change)="getVillage(model.subdistrict_id); resetSubdistrict();">
                                    <ng-container *ngFor="let item of listSubdistrict">
                                        <option [value]="item.id"> {{ item.kecamatan }} </option>
                                    </ng-container>
                                </select>
                                <small class="text-danger font-p fs-12" *ngIf="error.subdistrict_id">{{ error.subdistrict_id }}</small>
                                <div id="subdistrictHelp" class="form-text">Isi dengan nama kecamatan tempat tinggal anda.</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="village_id" class="form-label font-p fs-14">Desa</label>
                                <select class="form-select" name="village_id" [(ngModel)]="model.village_id" id="village_id"  aria-describedby="villageHelp" [disabled]="!model.subdistrict_id">
                                    <ng-container *ngFor="let item of listVillage">
                                        <option [value]="item.id"> {{ item.desa }} </option>
                                    </ng-container>
                                </select>
                                <small class="text-danger font-p fs-12" *ngIf="error.village_id">{{ error.village_id }}</small>
                                <div id="villageHelp" class="form-text">Isi dengan nama desa tempat tinggal anda.</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="postal_code" class="form-label font-p fs-14">Kode Pos</label>
                                <input type="text" class="form-control fs-14" name="postal_code" [(ngModel)]="model.postal_code" id="postal_code" aria-describedby="postal_codeHelp">
                                <small class="text-danger font-p fs-12" *ngIf="error.postal_code">{{ error.postal_code }}</small>
                                <div id="postal_codeHelp" class="form-text">Isi dengan kode pos tempat tinggal anda.</div>
                            </div>
                        </div> 
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="address" class="form-label font-p fs-14">Alamat Lengkap</label>
                                <textarea type="text" class="form-control fs-14" name="address" [(ngModel)]="model.address" id="address" aria-describedby="addressHelp"></textarea>
                                <small class="text-danger font-p fs-12" *ngIf="error.address">{{ error.address }}</small>
                                <div id="addressHelp" class="form-text">Isi dengan alamat lengkap anda (lebih bagus jika menambahkan ciri-ciri rumah anda).</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="pin_point" class="form-label font-p fs-14">Pin Poin</label>
                                <app-map [isViewParent]="false" [lat]="model.latitude" [long]="model.longitude" (koordinat)="setKoordinat($event)" [search]="true" [style]="true" [geocoding]="true"></app-map>
                                <small class="text-danger font-p fs-12" *ngIf="error.latitude">{{ error.latitude }}</small>
                            </div>
                        </div>
                    </div>
                    
                    <button class="btn btn-info rounded-5 font-p py-2 w-100 mt-3" [disabled]="is.loading">
                        <i class='bx bx-loader-alt bx-spin' *ngIf="is.loading"></i>
                        <span *ngIf="!is.loading">Kirim Sekarang</span>
                    </button>
                </form>
            </div>
            <div class="col-lg-5 d-none d-lg-block ps-5">
                <img src="assets/img/undraw/service-camera.png" class="object-fit-cover w-100" style="max-width: 480px;" width="400" alt="empty">
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

  