<section class="header bg-secondary py-3">
    <div class="container text-center py-5" style="font-size: 12px;">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="text-primary" href="javascript:void(0)">BERANDA</a> <span class="iconify text-grey ms-2 me-1" data-icon="ion:chevron-right"></span> MY ACCOUNT
        <h1 class="fw-bold fs-2 font-p mt-2">My Account</h1>
    </div>
</section>

<section class="content-login py-5">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card rounded-0 mb-5">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="mb-0 text-uppercase fw-bold" style="font-size: 15px;">{{ model.name }}</div>
                        <button class="btn btn-sm btn-dark font-p" (click)="logout()">LOGOUT</button>
                    </div>
                    <div class="card-body" style="font-size: 14px;">
                        <div class="detail-address" *ngIf="address">
                            <div class="text-uppercase">{{ address.address }}, {{ address.village_name }}, {{ address.subdistrict_name }}</div>
                            <div>{{ address.city }}</div>
                            <div>{{ address.postal_code }}</div>
                            <div class="mb-3">{{ address.province_name }}</div>
                            <!-- <div class="mb-3">Indonesia</div> -->
                        </div>
                        <div class="text-center" *ngIf="!address">
                            <img src="../../../assets/img/undraw/empty.png" alt="empty-address" width="300">
                            <p>You don't have shipping address</p>
                        </div>
                      <a href="javascript:void(0)" class="btn btn-sm btn-dark font-p" [routerLink]="['/address']">
                        <span *ngIf="totalAddress > 0">
                            <i class='bx bx-map-pin me-1'></i>
                            View Shipping Address ({{totalAddress}})
                        </span>
                        <span *ngIf="totalAddress == 0">
                            <i class="bx bx-plus me-1"></i>
                            Add Shipping Address
                        </span>
                      </a>
                    </div>
                </div>

                <div class="card rounded-0">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="mb-0 text-uppercase fw-bold" style="font-size: 15px;">ORDER HISTORY</div>
                    </div>
                    <div class="card-body" style="font-size: 14px;">
                        <div>You haven't placed any orders yet.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-foot-menu class="d-block d-lg-none"></app-foot-menu>
<app-footer class="d-none d-lg-block"></app-footer>

  