<ng-container *ngIf="loading.slider && loading.product && loading.category">
    <app-spinner></app-spinner>
</ng-container>

<ng-container *ngIf="!loading.slider && !loading.product && !loading.category">
    <section class="loading-slider" *ngIf="loading.slider">
        <div class="bg-grey" style="height: 480px;"></div>
    </section>
    <section id="banner-carousel" *ngIf="!loading.slider">
        <ngb-carousel [showNavigationIndicators]="false">
            <ng-template *ngFor="let item of listSlider; index as i" ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="item.picture" class="w-100 object-fit-cover" height="480" alt="Random first slide"
                        (click)="sliderClick(item.url)" />
                </div>
            </ng-template>
        </ngb-carousel>
    </section>

    <section class="category py-4">
        <div class="container">
            <div class="row justify-content-center">
                <ng-container *ngFor="let item of listCategory">
                    <div class="col-4 col-lg-2 p-3 mb-3">
                        <a href="/katalog?category={{item.slug}}">
                            <div class="p-2 py-3 mx-auto text-center rounded-4 wrap-category h-100 border border-2">
                                <img [src]="item.icon" class="object-fit-cover" width="50" height="50" alt="">
                                <p class="font-p mb-0 mt-3 text-uppercase fs-12"> {{ item.kategori }}
                                </p>
                            </div>
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>

    <!-- <section class="category py-5">
		<div class="container">
			<div class="row">
				<ng-container *ngFor="let item of listCategory">
					<div class="col-4 col-md-3 col-lg-2 mb-3">
						<a href="javascript:void(0)" routerLink="/katalog/{{item.slug}}">
							<div class="p-2 p-sm-4 mx-auto text-center rounded-2 wrap-category">
								<img [src]="item.icon" class="object-fit-cover" width="50" height="50" alt="">
								<p class="font-p mb-0 mt-3 text-uppercase"> {{ item.kategori }} </p>
							</div>
						</a>
					</div>
				</ng-container>
			</div>
		</div>
	</section> -->

    <section class="our-advantages">
        <div class="container">
            <div class="row justify-content-center py-3">
                <div class="col-md-6 col-lg-4 border-end">
                    <div class="d-flex justify-content-start align-items-center py-3">
                        <span class="iconify me-3 fs-4" data-icon="mdi:run-fast"></span>
                        <div class="text">
                            <h1 class="mb-0 fw-bold fs-14">CEPAT & MUDAH</h1>
                            <p class="mb-0 text-grey font-p fs-12">
                                Proses pemesanan hanya dengan beberapa klik!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 border-end">
                    <div class="d-flex justify-content-start align-items-center py-3">
                        <span class="iconify me-3 fs-4" data-icon="mdi:truck-fast"></span>
                        <div class="text">
                            <h1 class="mb-0 fw-bold fs-14">PENGIRIMAN</h1>
                            <p class="mb-0 text-grey font-p fs-12">Pengiriman tersedia ke seluruh Indonesia</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="d-flex justify-content-start align-items-center py-3">
                        <span class="iconify me-3 fs-4" data-icon="ph:seal-check-bold"></span>
                        <div class="text">
                            <h1 class="mb-0 fw-bold fs-14">GARANSI</h1>
                            <p class="mb-0 text-grey font-p fs-12">Memberikan jaminan bebas masalah
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products mt-5">
        <div class="filter-bar">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bolder text-primary border-primary me-4" style="font-size: 15px;">
                        FLASH SALE
                        <i class='bx bxs-bolt'></i>
                        <span class="bg-primary text-light fw-semibold font-p px-2 rounded-1 fs-6 ms-2">
                            <countdown [config]="{leftTime: 4000}"></countdown>
                        </span>
                    </div>
                    <a href="javascript:void(0)" [routerLink]="['/flash-sale']">
                        Lihat Semua
                        <i class="bx bx-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [config]="configFlash">
                <ng-container *ngFor="let item of listProduct; index as i">
                    <ng-template swiperSlide>
                        <div class="wrap-item mb-5 rounded-3" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                            <a href="javascript:void(0)" routerLink="/katalog/detail/{{ item.slug }}">
                                <div class="position-relative overflow-hidden wrap-image rounded-top-3 border-bottom">
                                    <img [src]="item.foto" class="w-100 object-fit-cover rounded-top-3"
                                        alt="Random second slide" />
                                </div>
                                <div class="detail p-2 p-lg-3">
                                    <h2 class="product-name mb-0 font-p fs-14">{{ item.nama }} </h2>
                                    <p class="category text-uppercase font-p fs-12 mb-1"> {{ item.kategori }}</p>
                                    <span class="text-decoration-line-through fs-14"
                                        style="color: rgb(175, 175, 175);">Rp
                                        50,000</span>
                                    <span>
                                        <i class='bx bxs-bolt'></i>-12%
                                    </span>
                                    <p class="price fs-14 fw-semibold font-p">Rp {{ item.harga | numberFormat }}</p>
                                </div>
                            </a>
                        </div>
                    </ng-template>
                </ng-container>
            </swiper>
        </div>
    </section>

    <section class="benefit border-top border-bottom">
        <div class="container py-3">
            <div class="row py-lg-4">
                <div class="col-lg-4">
                    <div class="benefit-content p-3 text-center" data-aos="fade-up" data-aos-offset="300"
                        data-aos-duration="1000">
                        <div class="d-flex justify-content-center align-items-center p-5 rounded-circle border border-light-subtle border-2 mx-auto"
                            style="width: 70px; height: 70px;">
                            <div>
                                <span class="iconify text-primary fs-1" data-icon="clarity:camera-line"></span>
                            </div>
                        </div>
                        <h2 class="fs-6 fw-bold mt-3 mb-0">SERVIS KAMERA</h2>
                        <em style="color:#555;font-weight: 600;font-size:0.875rem;">Butuh Kepercayaan?</em>
                        <p class="mt-3 text-subtle fs-14">
                            Menerima Service / Cleaning segala kerusakan Kamera Digital, Analog, DSLR, Pocket,
                            Prosummer, Mirrorless,
                            Polaroid, Video Camera dll.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="benefit-content p-3 text-center" data-aos="fade-up" data-aos-offset="300"
                        data-aos-duration="1000">
                        <div class="d-flex justify-content-center align-items-center p-5 rounded-circle border border-light-subtle border-2 mx-auto"
                            style="width: 70px; height: 70px;">
                            <div>
                                <span class="iconify text-primary fs-1"
                                    data-icon="material-symbols-light:print-outline"></span>
                            </div>
                        </div>
                        <h2 class="fs-6 fw-bold mt-3 mb-0">JASA FOTO DAN CETAK</h2>
                        <em style="color:#555;font-weight: 600;font-size:0.875rem;">Aman & Cepat</em>
                        <p class="mt-3 text-subtle fs-14">Cetak Foto ukuran 3R 4R 6R 10R atau Pas
                            Foto bisa cetak
                            Foto Visa atau bisa tunggu Foto dan Cetakannya langsung disini.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="benefit-content p-3 text-center" data-aos="fade-up" data-aos-offset="300"
                        data-aos-duration="1000">
                        <div class="d-flex justify-content-center align-items-center p-5 rounded-circle border border-light-subtle border-2 mx-auto"
                            style="width: 70px; height: 70px;">
                            <div>
                                <span class="iconify text-primary fs-1" data-icon="hugeicons:cctv-camera"></span>
                            </div>
                        </div>
                        <h2 class="fs-6 fw-bold mt-3 mb-0">JASA PASANG CCTV</h2>
                        <em style="color:#555;font-weight: 600;font-size:0.875rem;">Bagus & Dapat Diandalkan</em>
                        <p class="mt-3 text-subtle fs-14">
                            Melayani masalah pemasangan/pemasangan CCTV untuk
                            rumah, ruko, gedung, gudang atau apapun kebutuhan anda.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products mt-5">
        <div class="container">
            <div class="mb-4 d-flex align-items-center">
                <span class="fw-bolder text-primary fs-6 me-2">PROMO HARI INI</span>
                <i class='bx bxs-offer text-primary fs-5'></i>
            </div>
            <swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [config]="configFeatured">
                <ng-container *ngFor="let item of listProductPromo; index as i">
                    <ng-template swiperSlide>
                        <div class="wrap-item mb-5 rounded-3" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                            <a href="javascript:void(0)" routerLink="/katalog/detail/{{ item.slug }}">
                                <div class="position-relative wrap-image rounded-top-3">
                                    <img [src]="item.foto" class="w-100 object-fit-cover rounded-top-3" alt="Random second slide" />
                                </div>
                                <div class="detail p-2 p-lg-3">
                                    <h2 class="product-name mb-0 font-p fs-14">{{ item.nama }} </h2>
                                    <p class="category text-uppercase font-p fs-12 mb-1"> {{ item.kategori }}</p>
                                    <span class="text-decoration-line-through fs-14" style="color: rgb(175, 175, 175);">Rp {{ item.harga | numberFormat }}</span>
                                    <span>
                                        <i class='bx bxs-bolt'></i>{{ item.persen }}%
                                    </span>
                                    <p class="price fs-14 fw-semibold font-p">Rp {{ item.harga_promo | numberFormat }}</p>
                                </div>
                            </a>
                        </div>
                    </ng-template>
                </ng-container>
            </swiper>
        </div>
    </section>

    <section class="products mb-5">
        <!-- <div class="filter-bar border-bottom">
            <div class="container">
                <div class="d-flex">
                    <div class="fw-bolder pb-3 me-4" [ngClass]="{'border-bottom border-primary border-2': filterProduct == 'featured', 'text-primary': filterProduct == 'featured'}" style="font-size: 13px;" (click)="changeTipeProduct('featured')" role="button">PRODUK PILIHAN</div>
                    <div class="fw-bolder pb-3 me-4" [ngClass]="{'border-bottom border-primary border-2': filterProduct == 'monthly', 'text-primary': filterProduct == 'monthly'}" style="font-size: 13px;" (click)="changeTipeProduct('monthly')" role="button">PROMO BULANAN</div>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="mb-4 d-flex align-items-center">
                <span class="fw-bolder text-primary fs-6 me-2">PRODUK TERPOPULER</span>
                <i class='bx bx-badge-check text-primary fs-5'></i>
            </div>
            <div class="row">
                <ng-container *ngFor="let item of listProduct; index as i">
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3 px-2">
                        <div class="wrap-item rounded-3" data-aos="fade-right" data-aos-offset="300"
                            data-aos-duration="1000">
                            <a href="javascript:void(0)" routerLink="/katalog/detail/{{ item.slug }}">
                                <div class="position-relative wrap-image rounded-top-3">
                                    <img [src]="item.foto" class="w-100 object-fit-cover rounded-top-3"
                                        alt="Random second slide" />
                                </div>
                                <div class="detail p-2 p-lg-3">
                                    <h2 class="product-name mb-0 font-p fs-14">{{ item.nama }} </h2>
                                    <p class="category text-uppercase font-p fs-12 mb-1"> {{ item.kategori }}</p>
                                    <span class="text-decoration-line-through fs-14"
                                        style="color: rgb(175, 175, 175);">Rp
                                        50,000</span>
                                    <span>
                                        <i class='bx bxs-bolt'></i>-12%
                                    </span>
                                    <p class="price fs-14 fw-semibold font-p">Rp {{ item.harga | numberFormat }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>

    <section class="view-sale bg-body-tertiary py-lg-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-lg-4 text-lg-end">
                    <h2 class="fw-bold">PENAWARAN PRODUK <br> TERBAIK</h2>
                </div>
                <div class="col-12 col-lg-4 text-lg-center">
                    <div class="btn btn-primary rounded-5 fw-bold px-5 py-3 mt-3">
                        LIHAT SEKARANG
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="brand">
        <div class="container border-bottom">
            <div class="row py-5">
                <swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [config]="configBrand">
                    <ng-template swiperSlide>
                        <img src="../../../assets/img/brand/sekonic-light-meter-logo-1.webp" width="150" alt=""
                            data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img src="../../../assets/img/brand/tamron-lens-logo-1.webp" width="150" alt=""
                            data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img src="../../../assets/img/brand/vanguard-camera-logo-1.webp" width="150" alt=""
                            data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img src="../../../assets/img/brand/laowa-lens-logo-1.webp" width="150" alt=""
                            data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img src="../../../assets/img/brand/bushnell-logo-1.webp" width="150" alt=""
                            data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img src="../../../assets/img/brand/e-image-tripod-logo-1.webp" width="150" alt=""
                            data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img src="../../../assets/img/brand/samllrig-logo-1.webp" width="150" alt=""
                            data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
                    </ng-template>
                </swiper>
            </div>
        </div>
    </section>

    <section class="product-filter py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="fw-bold fs-5">BERITA</h3>
                        <a href="javascript:void(0)" class="text-grey" [routerLink]="['/news']">
                            Lihat Selengkapnya
                            <i class="bx bx-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4 mb-3" *ngFor="let item of listNews; index as i;">
                    <a href="/news/{{item.slug}}">
                        <div class="d-flex align-items-center justify-content-start" *ngIf="9 > i">
                            <img [src]="item.image" class="object-fit-cover rounded-1" width="100" height="100"
                                alt="news-1" />
                            <div class="detail p-2 p-lg-3">
                                <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> {{ item.judul }}
                                </h3>
                                <small class="text-grey">{{ item.created_at | date:'MMM dd, YYY' }}</small>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="row">
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2021/02/135539589_206619544497817_5451536832784279782_n1.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> 7 jenis vlog
                                        populer yang perlu
                                        kalian coba </h3>
                                    <small class="text-grey">December 06, 2016</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2020/02/3-e1611044321135.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Cetak Foto
                                        Digital dan Pas Foto
                                        Jakarta Barat </h3>
                                    <small class="text-grey">December 06, 2016</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2019/11/images-5-1-e1611044466244.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> DJI Mavic
                                        Mini, Drone Terkecil
                                        dan Teringan Dari DJI </h3>
                                    <small class="text-grey">December 11, 2019</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="row">
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2021/02/135539589_206619544497817_5451536832784279782_n1.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> 7 jenis vlog
                                        populer yang perlu
                                        kalian coba </h3>
                                    <small class="text-grey">December 06, 2016</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2020/02/3-e1611044321135.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Cetak Foto
                                        Digital dan Pas Foto
                                        Jakarta Barat </h3>
                                    <small class="text-grey">December 06, 2016</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2019/11/images-5-1-e1611044466244.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> DJI Mavic
                                        Mini, Drone Terkecil
                                        dan Teringan Dari DJI </h3>
                                    <small class="text-grey">December 11, 2019</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="row">
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2021/02/135539589_206619544497817_5451536832784279782_n1.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> 7 jenis vlog
                                        populer yang perlu
                                        kalian coba </h3>
                                    <small class="text-grey">Februari 08, 2021</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2020/02/3-e1611044321135.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Cetak Foto
                                        Digital dan Pas Foto
                                        Jakarta Barat </h3>
                                    <small class="text-grey">Februari 10, 2020</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3 px-1 px-lg-3">
                            <div class="d-flex align-items-center justify-content-start">
                                <img src="https://jakartacamera.com/wp-content/uploads/2019/11/images-5-1-e1611044466244.jpg"
                                    class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
                                <div class="detail p-2 p-lg-3">
                                    <h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> DJI Mavic
                                        Mini, Drone Terkecil
                                        dan Teringan Dari DJI </h3>
                                    <small class="text-grey">November 12, 2019</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!-- <section class="product-filter py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-xl-4 mb-3">
					<h3 class="fw-bold fs-6 mb-4">TOP RATED PRODUCT</h3>
					<div class="row">
						<ng-container *ngFor="let item of listProduct; index as i">
							<div class="col-12 mb-3 px-1 px-lg-3" *ngIf="i < 3">
								<div class="d-flex align-items-center justify-content-start">
									<img src="https://source.unsplash.com/random/140x140?camera={{i}}"
										class="object-fit-cover" width="140" height="140" alt="{{ item.slug }}" />
									<div class="detail p-2 p-lg-3">
										<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 12px">{{ item.nama }}
										</h3>
										<div class="rating">
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
										</div>
										<span
											class="price-coret text-grey font-p text-decoration-line-through fw-semibold me-2 fs-14">Rp100.000</span>
										<span class="price font-p fw-semibold fs-14">Rp{{ item.harga | numberFormat }}</span>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4 mb-3">
					<h3 class="fw-bold fs-6 mb-4">BEST SELLING PRODUCTS</h3>
					<div class="row">
						<ng-container *ngFor="let item of listProduct; index as i">
							<div class="col-12 mb-3 px-1 px-lg-3" *ngIf="i < 3">
								<div class="d-flex align-items-center justify-content-start">
									<img src="https://source.unsplash.com/random/140x140?camera={{i + 10}}"
										class="object-fit-cover" width="140" height="140" alt="{{ item.slug }}" />
									<div class="detail p-2 p-lg-3">
										<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 12px">{{ item.nama }}
										</h3>
										<div class="rating">
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
										</div>
										<span
											class="price-coret text-grey font-p text-decoration-line-through fw-semibold me-2 fs-14">Rp100.000</span>
										<span class="price font-p fw-semibold fs-14">Rp{{ item.harga | numberFormat }}</span>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4 mb-3">
					<h3 class="fw-bold fs-6 mb-4">LATEST PRODUCTS</h3>
					<div class="row">
						<ng-container *ngFor="let item of listProduct; index as i">
							<div class="col-12 mb-3 px-1 px-lg-3" *ngIf="i < 3">
								<div class="d-flex align-items-center justify-content-start">
									<img src="https://source.unsplash.com/random/140x140?camera={{i + 20}}"
										class="object-fit-cover" width="140" height="140" alt="{{ item.slug }}" />
									<div class="detail p-2 p-lg-3">
										<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 12px">{{ item.nama }}
										</h3>
										<div class="rating">
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
										</div>
										<span
											class="price-coret text-grey font-p text-decoration-line-through fw-semibold me-2 fs-14">Rp100.000</span>
										<span class="price font-p fw-semibold fs-14">Rp{{ item.harga | numberFormat }}</span>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</section> -->

    <div id="popup" *ngIf="aktifPopup" [ngClass]="statusPopup ? 'popup' : 'popup popup-close'">
        <div class="popup-content">
            <span class="close text-center" id="closePopup" (click)="closePopup()">
                <i class="bx bx-x"></i>
            </span>
            <div class="row">
                <div class="col-md-12 d-none d-md-block">
                    <section id="popup-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let item of listPopup">
                                <div class="picsum-img-wrapper">
                                    <img [src]="item.picture" class="d-block w-100" alt="promo-subscriber"
                                        (click)="popupClick(item.url)">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <app-foot-menu class="d-block d-lg-none"></app-foot-menu>
    <app-footer class="d-none d-lg-block"></app-footer>
</ng-container>
