<ng-container *ngIf="loading.slider && loading.product && loading.category">
	<app-spinner></app-spinner>
</ng-container>

<ng-container *ngIf="!loading.slider && !loading.product && !loading.category">
	<section class="loading-slider" *ngIf="loading.slider">
		<div class="bg-grey" style="height: 480px;"></div>
	</section>
	<section id="banner-carousel" *ngIf="!loading.slider">
		<ngb-carousel [showNavigationIndicators]="false">
			<ng-template *ngFor="let item of listSlider; index as i" ngbSlide>
				<div class="picsum-img-wrapper">
					<img [src]="item.image" class="w-100 object-fit-cover" height="480" alt="Random first slide" />
					<!-- <img src="https://source.unsplash.com/random/1200x634?camera={{i}}" class="w-100 object-fit-cover h-auto" height="634" alt="Random first slide" /> -->
					<!-- <img [src]="originalImageUrl + item.picture" class="w-100 object-fit-cover h-auto" height="50	0" alt="Random first slide" /> -->
				</div>
			</ng-template>
		</ngb-carousel>
	</section>

	<section class="category py-5">
		<div class="container">
			<div class="row justify-content-center">
				<ng-container *ngFor="let item of listCategory">
					<div class="col-4 col-lg-2 p-3 mb-3">
						<a href="javascript:void(0)" routerLink="/katalog/{{item.slug}}">
							<div class="p-2 py-3 mx-auto text-center rounded-4 wrap-category h-100">
								<img [src]="item.icon" class="object-fit-cover" width="50" height="50" alt="">
								<p class="font-p mb-0 mt-3 text-uppercase" style="font-size: 12px;"> {{ item.kategori }} </p>
							</div>
						</a>
					</div>
				</ng-container>
			</div>
		</div>
	</section>

	<!-- <section class="category py-5">
		<div class="container">
			<div class="row">
				<ng-container *ngFor="let item of listCategory">
					<div class="col-4 col-md-3 col-lg-2 mb-3">
						<a href="javascript:void(0)" routerLink="/katalog/{{item.slug}}">
							<div class="p-2 p-sm-4 mx-auto text-center rounded-2 wrap-category">
								<img [src]="item.icon" class="object-fit-cover" width="50" height="50" alt="">
								<p class="font-p mb-0 mt-3 text-uppercase"> {{ item.kategori }} </p>
							</div>
						</a>
					</div>
				</ng-container>
			</div>
		</div>
	</section> -->
	
	<section class="our-advantages">
		<div class="container">
			<div class="row justify-content-center py-3">
				<div class="col-md-6 col-lg-4 border-end">
					<div class="d-flex justify-content-center align-items-center py-3">
						<span class="iconify me-3 fs-4" data-icon="mdi:run-fast"></span>
						<div class="text">
							<h1 class="mb-0 fw-bold fs-14">QUICK & EASY</h1>
							<p class="mb-0 text-grey font-p" style="font-size: 12px;">
								The ordering process is just a few clicks!
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 border-end">
					<div class="d-flex justify-content-center align-items-center py-3">
						<span class="iconify me-3 fs-4" data-icon="mdi:truck-fast"></span>
						<div class="text">
							<h1 class="mb-0 fw-bold fs-14">DELIVERY</h1>
							<p class="mb-0 text-grey font-p" style="font-size: 12px;">Delivery available throughout Indonesia</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="d-flex justify-content-center align-items-center py-3">
						<span class="iconify me-3 fs-4" data-icon="ph:seal-check-bold"></span>
						<div class="text">
							<h1 class="mb-0 fw-bold fs-14">WARRANTY</h1>
							<p class="mb-0 text-grey font-p" style="font-size: 12px;">Provides a trouble-free guarantee </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="flash-sale my-5">
		<div class="filter-bar">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<div class="fw-bolder text-primary border-primary me-4" style="font-size: 15px;">
						FLASH SALE
						<i class='bx bxs-bolt'></i>
						<span class="bg-primary text-light fw-semibold font-p px-2 rounded-1 fs-6 ms-2">
							<countdown [config]="{leftTime: 4000}"></countdown>
						</span>
					</div>
					<a href="javascript:void(0)" [routerLink]="['/flash-sale']">
						See All 
						<i class="bx bx-chevron-right"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="container mt-4">
			<swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [config]="configFlash">
				<ng-container *ngFor="let item of listProduct; index as i">
					<ng-template swiperSlide>
						<div data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
							<!-- [src]="productImageURL + item.foto" -->
							<a href="javascript:void(0)" routerLink="/katalog/detail/{{ item.slug }}">
								<div class="position-relative wrap-image rounded-4">
									<img src="https://source.unsplash.com/random/250x250?camera={{i}}" class="w-100 object-fit-cover rounded-4" alt="Random second slide" />
								</div>
							</a>
							<div class="detail p-2 p-lg-3">
								<span class="category text-black-50 text-uppercase" style="font-size: 12px;"> {{ item.kategori }} </span>
								<h2 class="product-name mb-0 font-p fs-6">{{ item.nama }} </h2>
								<span class="text-decoration-line-through" style="color: rgb(175, 175, 175); font-size: 14px;">Rp 50,000</span>
								<span>
									<i class='bx bxs-bolt'></i>-12%
								</span>
								<p class="price fs-6 fw-semibold">Rp {{ item.harga | numberFormat }}</p>
								<a href="javascript:void(0)" routerLink="/katalog/detail/{{item.slug}}" class="btn btn-primary btn-sm border border-light-subtle rounded-4 fw-semibold py-2 font-p text-light w-100" style="font-size: 12px">
									<span class="iconify fs-6 me-1 mb-1" data-icon="solar:cart-linear"></span>
									ADD TO CART
								</a>
							</div>
						</div>
					</ng-template>
				</ng-container>
			</swiper>
		</div>
	</section>

	<section class="benefit border-top">
		<div class="container py-3 py-lg-5">
			<div class="row py-lg-3">
				<div class="col-lg-4">
					<div class="benefit-content p-3 text-center" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1500">
						<div class="d-flex justify-content-center align-items-center p-5 rounded-circle border border-light-subtle border-2 mx-auto" style="width: 70px; height: 70px;">
							<div>
								<span class="iconify text-primary fs-1" data-icon="clarity:camera-line"></span>
							</div>
						</div>
						<h2 class="fs-6 fw-bold mt-3 mb-0">CAMERA SERVICES</h2>
						<em style="color:#555;font-weight: 600;font-size:0.875rem;">Need Trust?</em>
						<p class="mt-3 text-subtle" style="font-size: 14px;">
							Receive Service / Cleaning for all damage to Digital, Analog, DSLR, Pocket, Prosummer, Mirrorless, Polaroid, Video Cameras etc.
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="benefit-content p-3 text-center" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1500">
						<div class="d-flex justify-content-center align-items-center p-5 rounded-circle border border-light-subtle border-2 mx-auto" style="width: 70px; height: 70px;">
							<div>
								<span class="iconify text-primary fs-1" data-icon="material-symbols-light:print-outline"></span>
							</div>
						</div>
						<h2 class="fs-6 fw-bold mt-3 mb-0">PHOTO AND PRINTING SERVICES</h2>
						<em style="color:#555;font-weight: 600;font-size:0.875rem;">Safe & Fast</em>
						<p class="mt-3 text-subtle" style="font-size: 14px;">Print photos in size 3R 4R 6R 10R or Pas Photos, you can print Visa Photos or you can wait for Photos and Prints directly here.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="benefit-content p-3 text-center" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1500">
						<div class="d-flex justify-content-center align-items-center p-5 rounded-circle border border-light-subtle border-2 mx-auto" style="width: 70px; height: 70px;">
							<div>
								<span class="iconify text-primary fs-1" data-icon="hugeicons:cctv-camera"></span>
							</div>
						</div>
						<h2 class="fs-6 fw-bold mt-3 mb-0">CCTV INSTALL SERVICES</h2>
						<em style="color:#555;font-weight: 600;font-size:0.875rem;">Good & Reliable</em>
						<p class="mt-3 text-subtle" style="font-size: 14px;">Serving CCTV installation/installation problems for homes, shophouses, buildings, warehouses or whatever your needs are.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="products mb-5">
		<div class="filter-bar border-bottom">
			<div class="container">
				<div class="d-flex">
					<div class="fw-bolder pb-3 me-4" [ngClass]="{'border-bottom border-primary border-2': filterProduct == 'featured', 'text-primary': filterProduct == 'featured'}" style="font-size: 13px;" (click)="changeTipeProduct('featured')" role="button">FEATURED PRODUCTS</div>
					<div class="fw-bolder pb-3 me-4" [ngClass]="{'border-bottom border-primary border-2': filterProduct == 'monthly', 'text-primary': filterProduct == 'monthly'}" style="font-size: 13px;" (click)="changeTipeProduct('monthly')" role="button">MONTHLY PROMO</div>
				</div>
			</div>
		</div>
		<div class="container mt-4">
			<swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [config]="configFeatured">
				<ng-container *ngFor="let item of listProduct; index as i">
					<ng-template swiperSlide>
						<div data-aos="fade-left" data-aos-offset="300" data-aos-duration="1500">
							<!-- [src]="productImageURL + item.foto" -->
							<a href="javascript:void(0)" routerLink="/katalog/detail/{{ item.slug }}">
								<div class="position-relative wrap-image rounded-4">
									<img src="https://source.unsplash.com/random/300x250?camera={{i}}" class="w-100 object-fit-cover rounded-4" alt="Random second slide" />
								</div>
							</a>
							<div class="detail p-2 p-lg-3">
								<span class="category text-black-50 text-uppercase" style="font-size: 12px;"> {{ item.kategori }} </span>
								<h2 class="product-name mb-0" style="font-size: 16px;">{{ item.nama }} </h2>
								<div class="rating">
									<span class="iconify text-warning" data-icon="uis:star"></span>
									<span class="iconify text-warning" data-icon="uis:star"></span>
									<span class="iconify text-black-50" data-icon="uis:star"></span>
									<span class="iconify text-black-50" data-icon="uis:star"></span>
									<span class="iconify text-black-50" data-icon="uis:star"></span>
								</div>
								<p class="price fs-6 fw-semibold">Rp {{ item.harga | numberFormat }}</p>
								<a href="javascript:void(0)" routerLink="/katalog/detail/{{item.slug}}" class="btn btn-primary btn-sm border border-light-subtle rounded-0 fw-semibold py-2 font-p w-100 rounded-4 text-light" style="font-size: 12px">
									<span class="iconify fs-6 me-1 mb-1" data-icon="solar:cart-linear"></span>
									ADD TO CART
								</a>
							</div>
						</div>
					</ng-template>
				</ng-container>
			</swiper>
		</div>
	</section>
	
	<section class="view-sale bg-body-tertiary py-lg-5">
		<div class="container py-5">
			<div class="row">
				<div class="col-12 col-lg-4 text-lg-end">
					<h2 class="fw-bold">TOP ELECTRONIC <br> DEALS</h2>
				</div>
				<div class="col-12 col-lg-4 text-lg-center">
					<div class="btn btn-primary rounded-0 fw-bold px-5 py-3 mt-3">
						VIEW SALE
					</div>
				</div>
				<div class="col-12 col-lg-4">
	
				</div>
			</div>
		</div>
	</section>
	
	<section class="brand">
		<div class="container border-bottom">
			<div class="row py-5">
				<swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [config]="configBrand">
					<ng-template swiperSlide>
						<img src="../../../assets/img/brand/sekonic-light-meter-logo-1.webp" width="150" alt="" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
					</ng-template>
					<ng-template swiperSlide>
						<img src="../../../assets/img/brand/tamron-lens-logo-1.webp" width="150" alt="" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
					</ng-template>
					<ng-template swiperSlide>
						<img src="../../../assets/img/brand/vanguard-camera-logo-1.webp" width="150" alt="" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
					</ng-template>
					<ng-template swiperSlide>
						<img src="../../../assets/img/brand/laowa-lens-logo-1.webp" width="150" alt="" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
					</ng-template>
					<ng-template swiperSlide>
						<img src="../../../assets/img/brand/bushnell-logo-1.webp" width="150" alt="" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
					</ng-template>
					<ng-template swiperSlide>
						<img src="../../../assets/img/brand/e-image-tripod-logo-1.webp" width="150" alt="" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
					</ng-template>
					<ng-template swiperSlide>
						<img src="../../../assets/img/brand/samllrig-logo-1.webp" width="150" alt="" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
					</ng-template>
				</swiper>
			</div>
		</div>
	</section>
	
	<section class="product-filter py-5">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-4">
					<div class="d-flex justify-content-between align-items-center">
						<h3 class="fw-bold fs-5">NEWS</h3>
						<a href="javascript:void(0)" class="text-grey" [routerLink]="['/news']"> 
							View more 
							<i class="bx bx-chevron-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4 mb-3">
					<div class="row">
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{6}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{5}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{8}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4 mb-3">
					<div class="row">
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{12}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{10}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{32}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4 mb-3">
					<div class="row">
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{1}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{2}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
						<div class="col-12 mb-3 px-1 px-lg-3">
							<div class="d-flex align-items-center justify-content-start">
								<img src="https://source.unsplash.com/random/140x140?camera={{3}}" class="object-fit-cover rounded-1" width="100" height="100" alt="news-1" />
								<div class="detail p-2 p-lg-3">
									<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 10px"> Post Format - Photo </h3>
									<small class="text-grey">December 06, 2016</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- <section class="product-filter py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-xl-4 mb-3">
					<h3 class="fw-bold fs-6 mb-4">TOP RATED PRODUCT</h3>
					<div class="row">
						<ng-container *ngFor="let item of listProduct; index as i">
							<div class="col-12 mb-3 px-1 px-lg-3" *ngIf="i < 3">
								<div class="d-flex align-items-center justify-content-start">
									<img src="https://source.unsplash.com/random/140x140?camera={{i}}"
										class="object-fit-cover" width="140" height="140" alt="{{ item.slug }}" />
									<div class="detail p-2 p-lg-3">
										<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 12px">{{ item.nama }}
										</h3>
										<div class="rating">
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
										</div>
										<span
											class="price-coret text-grey font-p text-decoration-line-through fw-semibold me-2 fs-14">Rp100.000</span>
										<span class="price font-p fw-semibold fs-14">Rp{{ item.harga | numberFormat }}</span>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4 mb-3">
					<h3 class="fw-bold fs-6 mb-4">BEST SELLING PRODUCTS</h3>
					<div class="row">
						<ng-container *ngFor="let item of listProduct; index as i">
							<div class="col-12 mb-3 px-1 px-lg-3" *ngIf="i < 3">
								<div class="d-flex align-items-center justify-content-start">
									<img src="https://source.unsplash.com/random/140x140?camera={{i + 10}}"
										class="object-fit-cover" width="140" height="140" alt="{{ item.slug }}" />
									<div class="detail p-2 p-lg-3">
										<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 12px">{{ item.nama }}
										</h3>
										<div class="rating">
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
										</div>
										<span
											class="price-coret text-grey font-p text-decoration-line-through fw-semibold me-2 fs-14">Rp100.000</span>
										<span class="price font-p fw-semibold fs-14">Rp{{ item.harga | numberFormat }}</span>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
				<div class="col-lg-6 col-xl-4 mb-3">
					<h3 class="fw-bold fs-6 mb-4">LATEST PRODUCTS</h3>
					<div class="row">
						<ng-container *ngFor="let item of listProduct; index as i">
							<div class="col-12 mb-3 px-1 px-lg-3" *ngIf="i < 3">
								<div class="d-flex align-items-center justify-content-start">
									<img src="https://source.unsplash.com/random/140x140?camera={{i + 20}}"
										class="object-fit-cover" width="140" height="140" alt="{{ item.slug }}" />
									<div class="detail p-2 p-lg-3">
										<h3 class="product-name fs-6 mb-0 fw-normal" style="font-size: 12px">{{ item.nama }}
										</h3>
										<div class="rating">
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-warning" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
											<span class="iconify text-black-50" data-icon="uis:star"></span>
										</div>
										<span
											class="price-coret text-grey font-p text-decoration-line-through fw-semibold me-2 fs-14">Rp100.000</span>
										<span class="price font-p fw-semibold fs-14">Rp{{ item.harga | numberFormat }}</span>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	
	<div id="popup" [ngClass]="statusPopup ? 'popup' : 'popup popup-close'">
		<div class="popup-content">
			<span class="close" id="closePopup" (click)="closePopup()">&times;</span>
			<img src="https://source.unsplash.com/random/140x140?camera=1" class="object-fit-cover" width="140" height="140" />
			<p>Dapatkan Promo Menarik untuk pelanggan baru Jakarta Camera</p>
		</div>
	</div>

	<app-foot-menu class="d-block d-lg-none"></app-foot-menu>
	<app-footer class="d-none d-lg-block"></app-footer>
</ng-container>
