<section class="d-flex justify-content-center align-items-center" style="background-color: #FBFBFB; height: 75vh;">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-6 text-center">
                <h1 class="fs-3 font-m fw-bolder mb-5">Lupa Kata Sandi</h1>
                <img src="../../../assets/img/undraw/forgot-password.svg" alt="login" width="250">
                <h2 class="fs-6 font-m mt-4">Silakan masukkan alamat email Anda di samping ini. Kami akan mengirimkan tautan untuk mereset kata sandi Anda.</h2>
            </div>
            <div class="col-4 font-m">
                <div class="h-100 d-flex align-items-center">
                    <fieldset class="w-100">
                        <div class="mb-3">
                            <label for="email" class="mb-2">Email</label>
                            <input type="text" class="form-control" placeholder="Masukkan alamat email" [(ngModel)]="email" name="email">
                        </div>
                        <button class="btn btn-primary w-100">
                            Kirim
                        </button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>

