<section class="d-flex justify-content-center align-items-center" style="background-color: #FBFBFB; height: 75vh;">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-6 text-center">
                <h1 class="fs-3 font-m fw-bolder mb-5">Lupa Kata Sandi</h1>
                <img src="../../../assets/img/undraw/forgot-password.svg" alt="login" width="250">
                <h2 class="fs-6 font-m mt-4">Silakan masukkan alamat email Anda di samping ini. Kami akan mengirimkan tautan untuk mereset kata sandi Anda.</h2>
            </div>
            <div class="col-5 font-m">
                <div class="h-100 d-flex align-items-center">
                    <fieldset class="w-100">
                        <div class="mb-3">
                            <label for="email" class="mb-2">Email</label>
                            <input type="text" class="form-control" placeholder="Masukkan alamat email" [(ngModel)]="email" name="email">
                            <small class="fs-12 text-danger">{{ message }}</small>
                        </div>
                        <button class="btn btn-primary w-100" (click)="sendResetPassword(); loading=true;">
                            <i class='bx bx-loader-alt bx-spin' *ngIf="loading"></i>
                            <span *ngIf="!loading">Kirim</span>
                        </button>
                        <div class="alert alert-success mt-4" role="alert" *ngIf="success">
                            <div class="d-flex align-items-center">
                                <div class="pe-3 text-success">
                                    <i class="bx bx-check-shield bx-lg"></i>
                                </div>
                                <div>
                                    <h4 class="alert-heading fs-6">Sukses!</h4>
                                    <p class="fs-14 mb-2">Email untuk reset kata sandi telah berhasil dikirim. Silakan periksa kotak masuk Anda untuk instruksi lebih lanjut.</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center mb-3">
            <div class="col-8">
                <div class="alert alert-success" role="alert" >
                    <div class="d-flex align-items-center">
                        <div class="pe-3 text-success">
                            <i class="bx bx-check-shield bx-lg"></i>
                        </div>
                        <div>
                            <h4 class="alert-heading fs-6">Sukses!</h4>
                            <p class="fs-14 mb-2">Email untuk reset kata sandi telah berhasil dikirim. Silakan periksa kotak masuk Anda untuk instruksi lebih lanjut.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

</section>

<app-footer></app-footer>

