<section class="footer pt-5 pb-3" style="background-color: #222529;">
  <div class="container mt-3 fs-14 font-p">
    <div class="row">
      <div class="col-md-3">
        <h6 class="text-white fw-bold mb-3">CONTACT INFO</h6>
        <p class="text-white mb-0">ADDRESS:</p>
        <p class="text-white-50 mb-1">1234 Street Name, City, England</p>
        <p class="text-white mb-0">PHONE:</p>
        <p class="text-white-50 mb-1">(123) 456-7890</p>
        <p class="text-white mb-0">EMAIL:</p>
        <p class="text-white-50 mb-1">mail@example.com</p>
        <p class="text-white mb-0">WORKING DAYS/HOURS:</p>
        <p class="text-white-50 mb-1">Mon - Sun / 9:00 AM - 8:00 PM</p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-12 mb-5">
            <div class="row">
              <div class="col-md-6 mt-3 mt-md-0">
                <h6 class="text-white fw-bold mb-3">SUBSCRIBE NEWSLETTER</h6>
                <p class="text-white-50 mb-1">Get all the latest information on Events, Sales and Offers. <br> Sign up for newsletter today.</p>
              </div>
              <div class="col-md-6">
                <div class="input-group search-bar mt-4">
                  <input type="text" class="form-control py-3 px-4" placeholder="Email Address..." aria-label="Pencarian" aria-describedby="search">
                  <span class="input-group-text bg-primary text-white fw-bold px-4" role="button" id="search">
                    SUBMIT
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="text-white fw-bold mb-3">CUSTOMER SERVICE</h6>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-1"><a class="text-white-50" href="#">About us</a></p>
                    <p class="mb-1"><a class="text-white-50" href="#">Contact us</a></p>
                    <p class="mb-1"><a class="text-white-50" href="#">My account</a></p>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-1"><a class="text-white-50" href="#">Orders history</a></p>
                    <p class="mb-1"><a class="text-white-50" href="#">Advanced search</a></p>
                    <p class="mb-1"><a class="text-white-50" href="#">Login</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-3 mt-md-0">
                <div class="row">
                  <div class="col-12">
                    <h6 class="text-white fw-bold mb-3">ABOUT US</h6>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-1"><a class="text-white-50" href="#">Super Fast Wordpress Theme</a></p>
                    <p class="mb-1"><a class="text-white-50" href="#">1st Fully Working Ajax Theme</a></p>
                    <p class="mb-1"><a class="text-white-50" href="#">36 Unique Shop Layouts</a></p>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-1"><a class="text-white-50" href="#">Powerful Admin Panel</a></p>
                    <p class="mb-1"><a class="text-white-50" href="#">Mobile & Retina Optimized</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-3">
      <div class="col text-white-50">
        © Jakarta Kamera. © 2024. All Rights Reserved
      </div>
    </div>
  </div>
</section>
