<section class="footer pt-5 pb-3" style="background-color: #222529;">
  <div class="container mt-3 fs-14 font-p">
    <div class="row">
      <div class="col-md-3">
        <h6 class="text-white fw-bold mb-3">INFORMASI KONTAK</h6>
        <p class="text-white mb-0">ALAMAT:</p>
        <p class="text-white-50 mb-1">Jl. Kedoya Duri Raya No. 20A Jakarta Barat 11520</p>
        <p class="text-white mb-0">NO HANDPHONE:</p>
        <p class="text-white-50 mb-1">021-58354635 - 58354655</p>
        <p class="text-white mb-0">WHATSAPP:</p>
        <p class="text-white-50 mb-1">0812 9876 7036</p>
        <p class="text-white mb-0">HARI/JAM KERJA:</p>
        <p class="text-white-50 mb-1">Senin - Minggu / 9:00 AM - 8:00 PM</p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-12 mb-5">
            <div class="row">
              <div class="col-md-6 mt-3 mt-md-0">
                <div class="row">
                  <div class="col-12">
                    <h6 class="text-white fw-bold mb-3">TENTANG KAMI</h6>
                  </div>
                  <div class="col-md-11">
                    <p class="text-white-50">
                      Jakarta Camera adalah toko terpercaya yang melayani jual beli dan sewa kamera di Jakarta. 
                      Kami menyediakan berbagai jenis kamera dan perlengkapan fotografi berkualitas tinggi untuk memenuhi kebutuhan Anda, 
                      baik untuk keperluan profesional maupun hobi. 
                    </p>
                    <p class="mb-1 text-white-50">
                      Selain itu, kami juga menawarkan layanan servis kamera 
                      yang profesional dan handal, memastikan peralatan Anda selalu dalam kondisi prima.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="text-white fw-bold mb-3">USEFULL LINKS</h6>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-1"><a class="text-white-50" href="/home">Beranda</a></p>
                    <p class="mb-1"><a class="text-white-50" href="/promo">Promo</a></p>
                    <p class="mb-1"><a class="text-white-50" href="/katalog">Produk</a></p>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-1"><a class="text-white-50" href="/service/camera">Service Layanan</a></p>
                    <p class="mb-1"><a class="text-white-50" href="/news">Berita</a></p>
                    <p class="mb-1"><a class="text-white-50" href="/education">Edukasi</a></p>
                  </div>
                  <div class="col-12 mt-5">
                    <h6 class="text-white fw-bold mb-3">ORDER VIA</h6>
                  </div>
                  <div class="col-6 col-xl-3">
                    <p class="mb-1">
                      <a class="text-white-50" target="_blank" href="https://www.tokopedia.com/jakcam">
                        <img src="https://jakartacamera.com/wp-content/uploads/2023/01/tokopedia-jakarta-camera-300x105.webp" alt="tokopedia" height="50">
                      </a>
                    </p>
                  </div>
                  <div class="col-6 col-xl-3">
                    <p class="mb-1">
                      <a class="text-white-50" target="_blank" href="https://www.bukalapak.com/jakarta-camera-official">
                        <img src="https://jakartacamera.com/wp-content/uploads/2023/01/bukalapak-jakarta-camera.webp" alt="bukalapak" height="50">
                      </a>
                    </p>
                  </div>
                  <div class="col-6 col-xl-3">
                    <p class="mb-1">
                      <a class="text-white-50" target="_blank" href="https://shopee.co.id/jakartacam">
                        <img src="https://jakartacamera.com/wp-content/uploads/2023/01/shopee-jakarta-camera.webp" alt="shopee" height="50">
                      </a>
                    </p>
                  </div>
                  <div class="col-6 col-xl-3">
                    <p class="mb-1">
                      <a class="text-white-50" target="_blank" href="https://www.blibli.com/merchant/cam-store/JAC-16049">
                        <img src="https://jakartacamera.com/wp-content/uploads/2023/01/bli-bli-jakarta-camera.webp" alt="bli-bli" height="50">
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-3">
      <div class="col text-white-50">
        © Jakarta Kamera 2024. All Rights Reserved
      </div>
    </div>
  </div>
</section>
