/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.text-grey {
  color: #929292;
}

body {
  margin: 0; /* Menghilangkan margin default pada body */
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;

  .font-p {
    font-family: 'Poppins', sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: #005691;
  }
  h3 {
    font-family: 'Poppins', sans-serif;
  }

  .fs-14 {
    font-size: 14px;
  }

  .breadcrumb {
    a {
      text-decoration: none !important;
      color: #777 !important;
    }
  }

  .container {
    width: 65%; /* Atur lebar kontainer */
    margin: 0 auto; /* Atur margin otomatis untuk menengahkan kontainer */
    box-sizing: border-box; /* Menjamin bahwa padding dan border tidak meningkatkan lebar kontainer */
  }

  /* Media queries untuk membuat kontainer responsif */
  @media (max-width: 768px) {
    .container {
      width: 80%;
    }
  }

  @media (max-width: 576px) {
    .container {
      width: 95%;
    }
  }
}

.btn-light:hover {
  background-color: #005691 !important;
  color: #FAFAFA !important;
}
// .btn-primary:hover {
//   background-color: #FAFAFA !important;
//   color: #005691 !important;
// }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
