/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.text-grey {
    color: #929292;
}

.bg-grey {
    background: #ececec;
}

body {
    margin: 0;
    /* Menghilangkan margin default pada body */
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

    .font-p {
        font-family: 'Poppins', sans-serif;
    }

    .font-m {
        font-family: 'Mulish', sans-serif;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #005691;
    }

    h3 {
        font-family: 'Poppins', sans-serif;
    }

    .fs-12 {
        font-size: 12px;
    }

    .fs-14 {
        font-size: 14px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .breadcrumb {
        a {
            text-decoration: none !important;
            color: #777 !important;
        }
    }

    .container {
        width: 63%;
        /* Atur lebar kontainer */
        margin: 0 auto;
        /* Atur margin otomatis untuk menengahkan kontainer */
        box-sizing: border-box;
        /* Menjamin bahwa padding dan border tidak meningkatkan lebar kontainer */
    }

    /* Media queries untuk membuat kontainer responsif */
    @media (max-width: 1489px) {
        .container {
            width: 80%;
        }
    }

    /* Media queries untuk membuat kontainer responsif */
    @media (max-width: 768px) {
        .container {
            width: 90%;
        }
    }

    @media (max-width: 576px) {
        .container {
            width: 95%;
        }
    }
}

.btn-light:hover {
    background-color: #005691 !important;
    color: #FAFAFA !important;
}

.btn-primary:hover {
    background-color: #005791e0 !important;
}

.form-control:focus {
    border: 1px solid #005691;
    outline: none;
    border-color: transparent;
    box-shadow: none !important;
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';