<!-- <section class="view-sale bg-body-tertiary py-lg-4">
	<div class="container py-5">
		<div class="row">
			<div class="col-12 col-lg-4">
				<h2 class="fw-bolder font-p">SCREENSHOOT AND <br> GET DISCOUNT</h2>
                <span class="bg-primary rounded-0 font-p py-2 px-3 fw-semibold text-light fs-4">
                    50rb
                </span>
			</div>
			<div class="col-12 col-lg-4 text-center">
				<h2 class="fw-bolder font-p mb-2">DISCOUNT 50RB</h2>
                <div class="bg-light rounded-0 font-p p-2 fw-bold mx-auto" style="rotate: -3deg; width: 246.52px;">
                    Untuk biaya SERVIS KAMERA
                </div>
			</div>
		</div>
	</div>
</section> -->

<div class="banner py-lg-4">
	<div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="container position-relative">
                    <div class="circle">
                        <img src="../../../assets/img/background/camera.png" alt="Camera">
                    </div>
                </div>
            </div>
            <div class="col-6 font-m px-5">
                <h1 class="fw-bolder text-white" style="font-size: 58px; margin-top: 200px;">SCREENSHOOT AND <br> GET DISCOUNT</h1>
                <h2 class="fw-bolder text-white mt-5" style="font-size: 70px;">50RB</h2>
                <p class="fw-bolder text-white mt-3 fs-4">*UNTUK BIAYA SERVICE KAMERA</p>
                <p class="text-white mt-3 fs-5 pe-5">
                    Dapatkan potongan harga sebesar 50rb, dengan cara <b>submit <br> 
                    kendala kamera anda pada form dibawah ini & <br> 
                    menunjukkan bukti screenshoot Email balasannya</b> <br> 
                    ke Customer Service Jakarta Camera saat memperbaiki kamera <br> 
                    anda.
                </p>

                <p class="text-white mt-5 fs-5 pe-5">
                    <b>#Periode Sampai 31 Desember 2024</b>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="content-login py-5">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1 class="fs-4 fw-semibold font-p text-grey">Kamera anda bermasalah ?</h1>
                <h2 class="fs-3 fw-bold font-p">Perbaikan Kamera, Sempurnakan <br> Kenangan</h2>
                <p class="text-grey font-p">Informasikan Kendala Anda dan Dapatkan Diskon Sebesar Rp 50.000 Untuk Biaya Servis Kamera*Dengan cara submit form dibawah ini :</p>

                <form (ngSubmit)="register()">
                    <div class="mb-3">
                        <label for="name" class="text-grey mb-2 fs-14">Nama <span class="text-danger">*</span></label>
                        <input type="text" class="form-control py-2" id="name" [(ngModel)]="model.name" name="name" aria-describedby="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="text-grey mb-2 fs-14">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control py-2" id="email" [(ngModel)]="model.email" name="email" aria-describedby="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone_number" class="text-grey mb-2 fs-14">Nomor Telepon <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"> +62 </span>
                            <input type="tel" class="form-control py-2" id="phone_number" [(ngModel)]="model.phone_number" name="p\hone_number" aria-describedby="last_name" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="text-grey mb-2 fs-14">Jelaskan apa yang rusak <span class="text-danger">*</span></label>
                        <textarea type="description" class="form-control py-2" id="description" [(ngModel)]="model.description" name="description" aria-describedby="description" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="file" class="text-grey mb-2 fs-14">File <span class="text-danger">*</span></label>
                        <div class="input-group mb-3 font-p fs-14 w-75">
                            <input type="file" class="form-control fs-14" id="file" accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                            <label class="input-group-text font-p fs-14" for="file"> <i class='bx bx-file-blank me-1'></i> Upload File</label>
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="description" class="text-grey mb-2 fs-14">Upload damage details <span class="text-danger">*</span></label>
                        <div class="d-flex align-items-start align-items-sm-center gap-4 mb-3">
                            <img *ngIf="!!base64Image" [src]="base64Image" alt="user-avatar" class="d-block rounded" height="150" width="150" id="uploadedAvatar">
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                                    <span class="d-none d-sm-block">Upload</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                                </label>
                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                          </div>
                    </div> -->

                    <button class="btn btn-info rounded-5 font-p py-2 w-100 mt-3">Kirim Sekarang</button>
                </form>
            </div>
            <div class="col-md-5 d-flex align-items-center ps-5">
                <img src="assets/img/undraw/service-camera.png" style="width: 400px;" class="object-fit-cover" width="400" alt="empty">
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

  